@{
    ViewBag.Title = "留言答复";
}

<link href="@Url.Content("~/Content/pagecss/frontpagecss/polycyadvicecss/polycyadvice.css")" rel="stylesheet" type="text/css" media="all" />


<!-- Wrapper Start -->
<div id="outer_wrapper">
    <!-- Content Section Start -->
    <div id="contentsec">
        <div class="inner">
            <div class="twothird left">
                <!-- Two Third Box Start -->
                <div class="twothird box left">
                    <div class="blog">
                        <!-- Blog Post Start -->
                        <div class="post">
                            <div class="p-date">
                                <p>政策咨询</p>
                                <p><a id="Index" href = "@Url.Content("~/PolicyAdvice/Index")">常见问题</a></p>
                                <p><a id="Reply" href = "@Url.Content("~/PolicyAdvice/Reply")">留言答复</a></p>
                                <p><a id="Quiz" href = "@Url.Content("~/PolicyAdvice/Quiz")">我要提问</a></p>
                            </div>
                            <script type="text/javascript">
                                var id_name = "@ViewContext.RouteData.Values["action"].ToString()";
                                document.getElementById(id_name).innerText = "· " + document.getElementById(id_name).innerText + " ·";
                            </script>
                            <div class="post-sec">
                                <div class="post-desc">
                                    <div id="right_title">
                                        留言答复
                                    </div>
                                </div>

                                <ul id="right_list">
                                    @for (int i = 0; i < 15; i++)
                                    {
                                        <li><a href="@Url.Content("~/PolicyAdvice/ReplyDetail")"><span>大学生入伍有什么优惠政策，是否可以保留学籍？可以在不均报考军事院校吗？</span><p>2016-08-18</p>

                                        </a></li>
                                        if ((i + 1) % 5 == 0)
                                        {
                                        <hr />
                                        }
                                    }

                                </ul>

                                <div style="text-align: center">
                                    <div class="pagination">
                                        <a href="#" class="navlinks">&lt;上一页</a>
                                        <a href="#" class="navlinks">1</a>
                                        <a href="#" class="navlinks current">2</a>
                                        <a href="#" class="navlinks">3</a>
                                        <a href="#" class="navlinks">4</a>
                                        <a href="#" class="navlinks">5</a>
                                        <a href="#" class="navlinks">6</a>
                                        <a href="#" class="navlinks">下一页 ></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Blog Post End -->
                    </div>
                </div>
                <!-- Two Third Box End -->

            </div>
            <!-- One Third Box Start -->

        </div>
    </div>
    <!-- Content Section End -->
</div>
<!-- Wrapper End -->


