@{ ViewBag.Title = "首页"; }
@using XnNationalDefenseMobilize.Models.Slogan
@using XnNationalDefenseMobilize.Models.Master
@using XnNationalDefenseMobilize.Models.DefenseMobilize
@using XnNationalDefenseMobilize.Models.News
@using XnNationalDefenseMobilize.Models.MediaImpress
@model XnNationalDefenseMobilize.Models.Home.HomeViewModel

<style>
    .nav-tabs > li.active > a,
    .nav-tabs > li.active > a:focus,
    .nav-tabs > li.active > a:hover {
        background-color: white;
    }

    a:visited, a:focus {
        text-decoration: none;
    }

    a {
        color: black;
    }

    .nav-tabs > li {
        font-weight: bold;
    }

    body {
        background-color: white;
    }
</style>


<div class="banner" style="margin-top: 2px">
    <img src="@Url.Content(Model.homeImages[0].image_path)"  height="auto" width="100%"/>
</div>

<!-- defense mobilizie -->
<div id="about" class="about">
    <div class="container">
        <div class="about-header">
            <h2>国防动员</h2>
            <h2 style="float: right; color: yellow; font-size: 24px">@Model.slogans[0].slogan__content</h2>
            <div class="clearfix"></div>
        </div>
        <div class="about-grid" style="overflow: hidden">

            @for (int i = 0; i < 3; i++)
            {
                <div class="col-md-4 col-sm-12" style="color: black; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">
                    @for (int j = 0; j < 3; j++)
                    {
                        <p><a href="@Url.Content("~/DefenseMobilize/DefenseDetail?id=" + Model.defenseNews[i * 3 + j].defenseNews_id)" style="color: black">@Model.defenseNews[i * 3 + j].defenseNews_title</a></p>
                    }

                </div>
            }
        </div>
        <div class="clearfix"></div>
    </div>
</div>

<!-- //defense mobilizie -->

<!-- news -->
<div class="news">
    <div class="container">
        <div class="about-header">
            <h2>新闻聚焦</h2>
            <h2 style="float: right; color: yellow; font-size: 24px">@Model.slogans[1].slogan__content</h2>
            <div class="clearfix"></div>
        </div>
        <div class="news-grids">
            <div class="col-md-12 news-grid">
                <div class="row">
                    <div class="col-md-12">
                        <ul class="nav nav-tabs default bordered" style="font-size: 16px">
                            <li class="active">
                                <a href="#international" data-toggle="tab">
                                    <span class="visible-xs"><i class="icon-home"></i></span>
                                    <span class="hidden-xs">国际</span>
                                </a>
                            </li>
                            <li>
                                <a href="#nation" data-toggle="tab">
                                    <span class="visible-xs"><i class="icon-man"></i></span>
                                    <span class="hidden-xs">国内</span>
                                </a>
                            </li>
                            <li>
                                <a href="#military" data-toggle="tab">
                                    <span class="visible-xs"><i class="icon-email"></i></span>
                                    <span class="hidden-xs">军事</span>
                                </a>
                            </li>
                            <li>
                                <a href="#society" data-toggle="tab">
                                    <span class="visible-xs"><i class="icon-settings2"></i></span>
                                    <span class="hidden-xs">社会</span>
                                </a>
                            </li>
                            <li>
                                <a href="#xining" data-toggle="tab">
                                    <span class="visible-xs"><i class="icon-settings2"></i></span>
                                    <span class="hidden-xs">西宁</span>
                                </a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane fade active in" id="international">
                                <div class="scrollable" style="overflow: hidden;">
                                    @{    NewsInfo[] international_news = (from item in Model.news
                                                                           orderby item.new_release_time descending
                                                                           where item.newsCategory_id == 1
                                                                           select item).ToArray();
                                    }
                                    @for (int i = 0; i < 3; i++)
                                    {
                                        <div class="col-md-4 col-sm-6" style="color: black">


                                            @for (int j = 0; j < 3; j++)
                                            {
                                                <p><a href="@Url.Content("~/News/NewsDetail?id=" + international_news[i * 3 + j].news_id)" style="color: black">@international_news[i * 3 + j].news_title</a></p>
                                            }
                                        </div>
                                    }
                                </div>
                            </div>

                            @{ string[] NewsIdName = new string[] { "nation", "military", "society", "xining" };}
                            @for (int k = 2; k <= 5; k++)
                            {
                                <div class="tab-pane fade in" id="@NewsIdName[k - 2]">
                                    @{    NewsInfo[] class_news = (from item in Model.news
                                                                   orderby item.new_release_time descending
                                                                   where item.newsCategory_id == k
                                                                   select item).ToArray();
                                    }
                                    @for (int i = 0; i < 3; i++)
                                    {
                                       
                                        <div class="col-md-4 col-sm-6" style="color: black">
                                            @for (int j = 0; j < 3; j++)
                                            {
                                                <p><a href="@Url.Content("~/News/NewsDetail?id=" + class_news[i * 3 + j].news_id)" style="color: black">@class_news[i * 3 + j].news_title</a></p>
                                            }
                                        </div>
                                    }
                                </div>
                            }


                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!-- //news -->


<!-- media -->
<div class="mediaimpress">
    <div class="container">
        <div class="about-header">
            <h2>媒体印象</h2>
            <h2 style="float: right; color: yellow; font-size: 24px">@Model.slogans[2].slogan__content</h2>
            <div class="clearfix"></div>
        </div>
        <div class="mediaimpress-grids">
            <div class="col-md-12 mediaimpress-grid">
                <div class="row">
                    <div class="col-md-12" style="padding-left: 0">
                        <ul class="nav nav-tabs default bordered" style="font-size: 16px">
                            <li class="active">
                                <a href="#jfjb" data-toggle="tab">
                                    <span class="visible-xs"><i class="icon-man"></i></span>
                                    <span class="hidden-xs">解放军报</span>
                                </a>
                            </li>
                            <li>
                                <a href="#jfjhb" data-toggle="tab">
                                    <span class="visible-xs"><i class="icon-home"></i></span>
                                    <span class="hidden-xs">解放军画报</span>
                                </a>

                            </li>
                            <li>
                                <a href="#zggfb" data-toggle="tab">
                                    <span class="visible-xs"><i class="icon-settings2"></i></span>
                                    <span class="hidden-xs">中国国防报</span>
                                </a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane fade active in" id="jfjb">
                                <div class="scrollable" style="overflow: hidden;">
                                    @{   MediaImpress[] jfjb_news = (from item in Model.mediaImpress
                                                                     orderby item.mediaImpress_release_time descending
                                                                     where item.mediaImpressCategory_id == 1
                                                                     select item).ToArray();
                                    }
                                    @for (int i = 0; i < 3; i++)
                                    {
                                        <div class="col-md-4 col-sm-6" style="color: black">
                                            @for (int j = 0; j < 3; j++)
                                            {
                                                <p><a href="@Url.Content("~/MediaImpress/MediaimpressDetail?id=" + jfjb_news[i * 3 + j].mediaImpress_id)" style="color: black">@jfjb_news[i * 3 + j].mediaImpress_title</a></p>
                                            }
                                        </div>
                                    }
                                </div>
                            </div>

                            @{ string[] mediaIdName = new string[] { "jfjhb", "zggfb" };}
                            @for (int k = 2; k <= 3; k++)
                            {

                                <div class="tab-pane fade in" id="@mediaIdName[k - 2]">
                                    @{   MediaImpress[] media_news = (from item in Model.mediaImpress
                                                                      orderby item.mediaImpress_release_time descending
                                                                      where item.mediaImpressCategory_id == k
                                                                      select item).ToArray();
                                    }
                                    @for (int i = 0; i < 3; i++)
                                    {
                                        <div class="col-md-4 col-sm-6" style="color: black">
                                            @for (int j = 0; j < 3; j++)
                                            {
                                                <p><a href="@Url.Content("~/MediaImpress/MediaimpressDetail?id=" + media_news[i * 3 + j].mediaImpress_id)" style="color: black">@media_news[i * 3 + j].mediaImpress_title</a></p>
                                            }
                                        </div>
                                    }
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!--media-->

<!-- army-image -->
<div class="army-image">
    <div class="container">
        <div class="about-header" style="overflow: auto; margin: 20px  auto">
            <h2 style="float: left">军营生活</h2>
            <h2 style="float: right; color: yellow; font-size: 24px">@Model.slogans[3].slogan__content</h2>
        </div>
        @for (int i = 1; i < 5; i++)
        {
            <div class="col-md-3" style="padding-left: 5px">
                <img src="@Url.Content(Model.homeImages[i].image_path)" width="100%" alt=""/>
            </div>
        }
    </div>
</div>
<!-- //army-image -->