@{
    ViewBag.Title = "下载中心";
}
<!--这是下载中心页面-->
<link href="@Url.Content("~/Content/pagecss/downloadcss/download.css")" rel="stylesheet" type="text/css" media="all" />


<div class="container">
    <div class="download-top-grids">
        <div class="col-md-12 download-top-grid">
            <h3><b>文件下载</b></h3>
            <div class="col-md-6">
                <ul class="last">
                    <li><a href="~/doc/aaa.xlsx">大学生入伍宣传手册</a></li>
                    <li><a href="~/doc/aaa.xlsx">大学生入伍宣传手册</a></li>
                     <li><a href="~/doc/aaa.xlsx">大学生入伍宣传手册</a></li>
                    <li><a href="~/doc/aaa.xlsx">大学生入伍宣传手册</a></li>
                    <li><a href="~/doc/aaa.xlsx">大学生入伍宣传手册</a></li>
                    <li><a href="~/doc/aaa.xlsx">大学生入伍宣传手册</a></li>
                </ul>
            </div>
            <div class="col-md-6">
                <ul class="last">
                    <li><a href="~/doc/aaa.xlsx">大学生入伍宣传手册</a></li>
                    <li><a href="~/doc/aaa.xlsx">大学生入伍宣传手册</a></li>
                     <li><a href="~/doc/aaa.xlsx">大学生入伍宣传手册</a></li>
                    <li><a href="~/doc/aaa.xlsx">大学生入伍宣传手册</a></li>
                    <li><a href="~/doc/aaa.xlsx">大学生入伍宣传手册</a></li>
                    <li><a href="~/doc/aaa.xlsx">大学生入伍宣传手册</a></li>
                </ul>
            </div>
                <div class="nunc-bwn" style="clear: both">
                    <a href="@Url.Content("~/download/downloadList?id =3")">More >></a>
                </div>
            </div>
            <div class="col-md-12 download-top-grid">
                <h3><b>应用下载</b> </h3>
             <div class="col-md-6">
                <ul class="last">
                    <li><a href="~/doc/aaa.xlsx">大学生入伍宣传手册</a></li>
                    <li><a href="~/doc/aaa.xlsx">大学生入伍宣传手册</a></li>
                     <li><a href="~/doc/aaa.xlsx">大学生入伍宣传手册</a></li>
                    <li><a href="~/doc/aaa.xlsx">大学生入伍宣传手册</a></li>
                    <li><a href="~/doc/aaa.xlsx">大学生入伍宣传手册</a></li>
                    <li><a href="~/doc/aaa.xlsx">大学生入伍宣传手册</a></li>
                </ul>
            </div>
              <div class="col-md-6">
                <ul class="last">
                    <li><a href="~/doc/aaa.xlsx">大学生入伍宣传手册</a></li>
                    <li><a href="~/doc/aaa.xlsx">大学生入伍宣传手册</a></li>
                     <li><a href="~/doc/aaa.xlsx">大学生入伍宣传手册</a></li>
                    <li><a href="~/doc/aaa.xlsx">大学生入伍宣传手册</a></li>
                    <li><a href="~/doc/aaa.xlsx">大学生入伍宣传手册</a></li>
                    <li><a href="~/doc/aaa.xlsx">大学生入伍宣传手册</a></li>
                </ul>
            </div>
                <div class="nunc-bwn" style="clear: both">
                    <a href="@Url.Content("~/download/downloadList.cshtml")">More >></a>
                </div>
            </div>
      
             <div class="col-md-12 download-top-grid">
                <h3><b>软件下载</b> </h3>
             <div class="col-md-6">
                <ul class="last">
                    <li><a href="~/doc/aaa.xlsx">大学生入伍宣传手册</a></li>
                    <li><a href="~/doc/aaa.xlsx">大学生入伍宣传手册</a></li>
                     <li><a href="~/doc/aaa.xlsx">大学生入伍宣传手册</a></li>
                    <li><a href="~/doc/aaa.xlsx">大学生入伍宣传手册</a></li>
                    <li><a href="~/doc/aaa.xlsx">大学生入伍宣传手册</a></li>
                    <li><a href="~/doc/aaa.xlsx">大学生入伍宣传手册</a></li>
                </ul>
            </div>
              <div class="col-md-6">
                <ul class="last">
                    <li><a href="~/doc/aaa.xlsx">大学生入伍宣传手册</a></li>
                    <li><a href="~/doc/aaa.xlsx">大学生入伍宣传手册</a></li>
                     <li><a href="~/doc/aaa.xlsx">大学生入伍宣传手册</a></li>
                    <li><a href="~/doc/aaa.xlsx">大学生入伍宣传手册</a></li>
                    <li><a href="~/doc/aaa.xlsx">大学生入伍宣传手册</a></li>
                    <li><a href="~/doc/aaa.xlsx">大学生入伍宣传手册</a></li>
                </ul>
            </div>
                <div class="nunc-bwn" style="clear: both">
                    <a href="@Url.Content("~/download/downloadList?id=3")">More >></a>
                </div>
            </div>

          <div class="col-md-12 download-top-grid" style ="margin-bottom: 40px">
                <h3><b>图书下载</b> </h3>
             <div class="col-md-6">
                <ul class="last">
                    <li><a href="~/doc/aaa.xlsx">大学生入伍宣传手册</a></li>
                    <li><a href="~/doc/aaa.xlsx">大学生入伍宣传手册</a></li>
                     <li><a href="~/doc/aaa.xlsx">大学生入伍宣传手册</a></li>
                    <li><a href="~/doc/aaa.xlsx">大学生入伍宣传手册</a></li>
                    <li><a href="~/doc/aaa.xlsx">大学生入伍宣传手册</a></li>
                    <li><a href="~/doc/aaa.xlsx">大学生入伍宣传手册</a></li>
                </ul>
            </div>
              <div class="col-md-6">
                <ul class="last">
                    <li><a href="~/doc/aaa.xlsx">大学生入伍宣传手册</a></li>
                    <li><a href="~/doc/aaa.xlsx">大学生入伍宣传手册</a></li>
                     <li><a href="~/doc/aaa.xlsx">大学生入伍宣传手册</a></li>
                    <li><a href="~/doc/aaa.xlsx">大学生入伍宣传手册</a></li>
                    <li><a href="~/doc/aaa.xlsx">大学生入伍宣传手册</a></li>
                    <li><a href="~/doc/aaa.xlsx">大学生入伍宣传手册</a></li>
                </ul>
            </div>
                <div class="nunc-bwn" style="clear: both">
                    <a href="@Url.Content("~/download/downloadList?id=3")">More >></a>
                </div>
            </div>
        </div>

    </div>

