@using XnNationalDefenseMobilize.Models.GrassrootWork
@using XnNationalDefenseMobilize.Models.utility
@model  MulltiPageDisplayContrler

@{   
    List<GrassrootNews> curr_page_data = (List<GrassrootNews>)Model.curr_page_data;
    ViewBag.title = curr_page_data.First().disTrict.district_name;
    int news_type_id = curr_page_data.First().disTrict.district_id;
}

<link href="@Url.Content("~/content/pagecss/frontpagecss/GrassrootWorkCss/grassrootWorkList.css")" rel="stylesheet" type="text/css" media="all" />
<link href="@Url.Content("~/Content/pagecss//frontpagecss/defensecss/reset.css")" rel="stylesheet" type="text/css" media="all" />
<link href="@Url.Content("~/Content/pagecss//frontpagecss/defensecss/style.css")" rel="stylesheet" type="text/css" media="all" />

<div class="page_title">
    <div class="container">
        <div class="leaft_title">
            <h1 style="float: left; font-size: 20px">基层工作  >> @ViewBag.title<span>基层工作</span></h1>
            <div class="site-search-area" style="float: right">
                <form method="get" id="site-searchform" action="Index">
                    <div>
                        <input class="input-text" name="s" id="s" type="text" />
                        <input id="searchsubmit" style="color: white; font-size: 14px; font-weight: bold" value="搜索" type="submit" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<div>
<div class="container">
    @{
        GrassrootNews[] NewsInfoArray = curr_page_data.ToArray();
        for (int i = 0; i < curr_page_data.Count(); i++)
        {

        <div class="col-md-12 span8 main-listing">

            <div class="col-md-6 hentry" style="padding-left: 0; padding-right: 20px">

                <h3 class="post-title">
                    <a href="@Url.Content("~/GrassrootWork/GrassrootDetail?id=" + @NewsInfoArray[i].grassrootNews_id)" class="list-group-item" style="border:none" target="_blank">
                        <img src="~/Image/mediaimpress/standard-large.png" height="80" /><b>@NewsInfoArray[i].grassrootNews_title</b></a>
                </h3>

                <div class="post-meta">
                    <span class="date">
                        <img src="~/Image/mediaimpress/calendar-icon.png" height="40" />@NewsInfoArray[i].grassrootNews_release_time.ToString("yyyy.MM.dd")</span>
                    <span class="category">
                        <img src="~/Image/mediaimpress/category-icon.png" height="40" /><a href="#" title="View all">@NewsInfoArray[i].grassrootNews_source</a></span>
                    <span class="comments">
                        <img src="~/Image/mediaimpress/comment.png" height="40" /><a href="#" title="Comment">0 阅读</a></span>
                </div>
                <a href="@Url.Content("~/GrassrootWork/GrassrootDetail?id=" + NewsInfoArray[i].grassrootNews_id)" class="list-group-item" target="_blank">
                    <p>@NewsInfoArray[i].grassrootNews_abstract</p>
                </a>

            </div>

            @if (i < curr_page_data.Count() - 1)
            {
                i++;
       
      
                <div class="col-md-6 hentry" style="padding-left: 0; padding-right: 20px">

                    <h3 class="post-title">
                        <a href="@Url.Content("~/GrassrootWork/GrassrootDetail?id=" + NewsInfoArray[i].grassrootNews_id)" class="list-group-item" style="border:none" target="_blank">
                            <img src="~/Image/mediaimpress/standard-large.png" height="80" /><b>@NewsInfoArray[i].grassrootNews_title</b>e</a>
                    </h3>

                    <div class="post-meta">
                        <span class="date">
                            <img src="~/Image/mediaimpress/calendar-icon.png" height="40" />@NewsInfoArray[i].grassrootNews_release_time.ToString("yyyy.MM.dd")</span>
                        <span class="category">
                            <img src="~/Image/mediaimpress/category-icon.png" height="40" /><a href="#" title="View all">@NewsInfoArray[i].grassrootNews_source</a></span>
                        <span class="comments">
                            <img src="~/Image/mediaimpress/comment.png" height="40" /><a href="#" title="Comment">0 阅读</a></span>
                    </div>
                    <a href="@Url.Content("~/GrassrootWork/GrassrootDetail?id=" + NewsInfoArray[i].grassrootNews_id)" class="list-group-item" target="_blank">
                        <p>@NewsInfoArray[i].grassrootNews_abstract</p>
                    </a>
                </div>
            }
        </div>
        }
    }
</div>



@{
    int prePageId = (Model.curr_page_index > 1) ? Model.curr_page_index - 1 : 1;
    int nextPageId = (Model.curr_page_index < Model.count_pages) ? Model.curr_page_index + 1 : Model.count_pages;
}

<div style="text-align: center">
    <div class="pagination">
        <a href="@Url.Content("~/GrassrootWork/GrassrootList?type_id=" + news_type_id + "&page_id=1")" class="navlinks">首页</a>
        <a href="@Url.Content("~/GrassrootWork/GrassrootList?type_id=" + news_type_id + "&page_id=" + prePageId)" class="navlinks">&lt;上一页</a>

        @for (int i = Model.start_page_index; i <= Model.end_page_index; i++)
        {
            <a id="@i" href="@Url.Content("~/GrassrootWork/GrassrootList?type_id=" + news_type_id + "&page_id=" + i)" class="navlinks">@i</a>
        }

        <a href="@Url.Content("~/GrassrootWork/GrassrootList?type_id=" + news_type_id + "&page_id=" + nextPageId)" class="navlinks">下一页 ></a>
        <a href="@Url.Content("~/GrassrootWork/GrassrootList?type_id=" + news_type_id + "&page_id=" + Model.count_pages)" class="navlinks">末页</a>
    </div>
</div>

<script type="text/javascript">
    var id_name = "@Model.curr_page_index.ToString()";
    document.getElementById(id_name).className = "navlinks current";
</script>
</div>

