@{
    ViewBag.Title = "基层工作";
}
@using XnNationalDefenseMobilize.Models.GrassrootWork
@model  IEnumerable<GrassrootNews>


<link href="@Url.Content("~/content/pagecss/frontpagecss/grassrootworkcss/grassrootwork.css")" rel="stylesheet" type="text/css" media="all" />

<div class="grassrootwork">
    <div id="templatemo_content">
        <div id="templatemo_content_left">
            <div class="cleaner_with_height">&nbsp;</div>
            <div class="tempaltemo_content_left_section_02">

                @for (int i = 0; i < 6; i++)
                {
                    IEnumerable<GrassrootNews> newsList = from items in Model where items.disTrict.district_id == (i + 1) orderby items.grassrootNews_title select items;
                    GrassrootNews[] NewsArray = newsList.ToArray();         
                 
                    <div class="section_02_box" style="margin-bottom: 25px">
                        <h3 style="font-size:20px"><b>@NewsArray.First().disTrict.district_name</b></h3>
                        <div class="section_02_box_content col-md-6">
                            <ul>
                                @for (int j = 0; j < Math.Min(5, NewsArray.Count()); j++)
                                {
                                    <li>
                                        <a class="section_02_box_content_title" target="_blank" href="@Url.Content("~/GrassrootWork/GrassrootDetail?id=" + NewsArray[j].grassrootNews_id)">
                                            @NewsArray[j].grassrootNews_title
                                        </a>
                                    </li>
                                }
                            </ul>
                            <div class="nunc-bwn" style="clear: both">
                                <a href="@Url.Content("~/GrassrootWork/GrassrootList?type_id=" + (i + 1))" target="_blank">More >></a>
                            </div>
                             <div class="clearfix"></div>
                        </div>
                    </div>   
                }

            </div>

            <div class="cleaner_with_height">&nbsp;</div>
            <div class="cleaner_with_height">&nbsp;</div>
        </div>
        <div class="cleaner">&nbsp;</div>
    </div>
</div>
