@{
    ViewBag.Title = "基层共作";
}

<!--这是基层工作页面-->
<link href="@Url.Content("~/content/pagecss/frontpagecss/grassrootworkcss/grassrootwork.css")" rel="stylesheet" type="text/css" media="all" />

<div class="grassrootwork">
    <div id="templatemo_content">
	    <div id="templatemo_content_left">
		    <div class="tempaltemo_content_left_section_01">
			    <div class="section_01_two_col">
			        <img src="@Url.Content("~/GrassrootImage/templatemo_image_01.png")" alt="templatemo" width="100%"/>
			    </div>
			    <div class="section_01_two_col">
				    <div class="section_01_box">
					    <a class="section_01_box_title" href="@Url.Content("~/GrassrootWork/GrassrootDetail?id=1")">基层工作要闻</a>
                        <p>基层工作要闻摘要基层工作要闻摘要基层工作要闻摘要基层工作要闻摘要基层工作要闻摘要基层工作要闻摘要基层工作要闻摘要基层工作要闻摘要。</p>

				    </div>

				    <div class="section_01_box">
					    <a class="section_01_box_title" href="@Url.Content("~/GrassrootWork/GrassrootDetail?id=1")">基层工作要闻</a>
					    <p>基层工作要闻摘要基层工作要闻摘要基层工作要闻摘要基层工作要闻摘要基层工作要闻摘要基层工作要闻摘要基层工作要闻摘要基层工作要闻摘要。</p>

				    </div>

                    <div class="section_01_box">
					    <a class="section_01_box_title" href="@Url.Content("~/GrassrootWork/GrassrootDetail?id=1")">基层工作要闻</a>
                        <p>基层工作要闻摘要基层工作要闻摘要基层工作要闻摘要基层工作要闻摘要基层工作要闻摘要基层工作要闻摘要基层工作要闻摘要基层工作要闻摘要。</p>

				    </div>
			    </div>
			    <div class="cleaner">&nbsp;</div>
		    </div>
		    <!-- end of content left section 01 -->

		    <div class="cleaner_with_height">&nbsp;</div>

		    <div class="tempaltemo_content_left_section_02">
			    <div class="section_02_box">
				    <h3>城东区</h3>
				    <div class="section_02_box_content col-md-6">
					    <ul>
						    <li>
                                <a class="section_02_box_content_title" href="@Url.Content("~/GrassrootWork/GrassrootDetail?id=1")">基层工作基层工作基层工作基层工作</a>
						    </li>
						     <li>
                                <a class="section_02_box_content_title" href="@Url.Content("~/GrassrootWork/GrassrootDetail?id=1")">基层工作基层工作基层工作基层工作</a>
						    </li>
                            <li>
                                <a class="section_02_box_content_title" href="@Url.Content("~/GrassrootWork/GrassrootDetail?id=1")">基层工作基层工作基层工作基层工作</a>
						    </li>
                            <li>
                                <a class="section_02_box_content_title" href="@Url.Content("~/GrassrootWork/GrassrootDetail?id=1")">基层工作基层工作基层工作基层工作</a>
						    </li>
                             <li>
                                <a class="section_02_box_content_title" href="@Url.Content("~/GrassrootWork/GrassrootDetail?id=1")">基层工作基层工作基层工作基层工作</a>
						    </li>
					    </ul>
                        <div class="more">
                            <a href="@Url.Content("~/GrassrootWork/GrassrootList")">更多>></a>
                        </div>
				    </div>
			    </div>
			    <div class="section_02_box">
				    <h3>城西区</h3>
				    <div class="section_02_box_content">
					    <ul>
						    <li>
                                <a class="section_02_box_content_title" href="@Url.Content("~/GrassrootWork/GrassrootDetail?id=1")">基层工作基层工作基层工作基层工作</a>
						    </li>
						     <li>
                                <a class="section_02_box_content_title" href="@Url.Content("~/GrassrootWork/GrassrootDetail?id=1")">基层工作基层工作基层工作基层工作</a>
						    </li>
                            <li>
                                <a class="section_02_box_content_title" href="@Url.Content("~/GrassrootWork/GrassrootDetail?id=1")">基层工作基层工作基层工作基层工作</a>
						    </li>
                            <li>
                                <a class="section_02_box_content_title" href="@Url.Content("~/GrassrootWork/GrassrootDetail?id=1")">基层工作基层工作基层工作基层工作</a>
						    </li>
                             <li>
                                <a class="section_02_box_content_title" href="@Url.Content("~/GrassrootWork/GrassrootDetail?id=1")">基层工作基层工作基层工作基层工作</a>
						    </li>
					    </ul>
                        <div class="more">
                            <a href="@Url.Content("~/GrassrootWork/GrassrootList")">更多>></a>
                        </div>
				    </div>
			    </div>
		    </div>

		    <!-- end of content leeft section 01 -->

		    <div class="cleaner_with_height">&nbsp;</div>

		    <div class="tempaltemo_content_left_section_02">
			    <div class="section_02_box">
				    <h3>城南区</h3>
				    <div class="section_02_box_content">
					    <ul>
						    <li>
                                <a class="section_02_box_content_title" href="@Url.Content("~/GrassrootWork/GrassrootDetail?id=1")">基层工作基层工作基层工作基层工作</a>
						    </li>
						     <li>
                                <a class="section_02_box_content_title" href="@Url.Content("~/GrassrootWork/GrassrootDetail?id=1")">基层工作基层工作基层工作基层工作</a>
						    </li>
                            <li>
                                <a class="section_02_box_content_title" href="@Url.Content("~/GrassrootWork/GrassrootDetail?id=1")">基层工作基层工作基层工作基层工作</a>
						    </li>
                            <li>
                                <a class="section_02_box_content_title" href="@Url.Content("~/GrassrootWork/GrassrootDetail?id=1")">基层工作基层工作基层工作基层工作</a>
						    </li>
                             <li>
                                <a class="section_02_box_content_title" href="@Url.Content("~/GrassrootWork/GrassrootDetail?id=1")">基层工作基层工作基层工作基层工作</a>
						    </li>
					    </ul>
                        <div class="more">
                            <a href="@Url.Content("~/GrassrootWork/GrassrootList")">更多>></a>
                        </div>
				    </div>
			    </div>

			    <div class="section_02_box">
				    <h3>城北区</h3>
				    <div class="section_02_box_content">
					    <ul>
						    <li>
                                <a class="section_02_box_content_title" href="@Url.Content("~/GrassrootWork/GrassrootDetail?id=1")">基层工作基层工作基层工作基层工作</a>
						    </li>
						     <li>
                                <a class="section_02_box_content_title" href="@Url.Content("~/GrassrootWork/GrassrootDetail?id=1")">基层工作基层工作基层工作基层工作</a>
						    </li>
                            <li>
                                <a class="section_02_box_content_title" href="@Url.Content("~/GrassrootWork/GrassrootDetail?id=1")">基层工作基层工作基层工作基层工作</a>
						    </li>
                            <li>
                                <a class="section_02_box_content_title" href="@Url.Content("~/GrassrootWork/GrassrootDetail?id=1")">基层工作基层工作基层工作基层工作</a>
						    </li>
                             <li>
                                <a class="section_02_box_content_title" href="@Url.Content("~/GrassrootWork/GrassrootDetail?id=1")">基层工作基层工作基层工作基层工作</a>
						    </li>
					    </ul>
                        <div class="more">
                            <a href="@Url.Content("~/GrassrootWork/GrassrootList")">更多>></a>
                        </div>
				    </div>
			    </div>
		    </div>

            <div class="cleaner_with_height">&nbsp;</div>

            <div class="tempaltemo_content_left_section_02">

                <div class="section_02_box">
				    <h3>城中区</h3>
				    <div class="section_02_box_content">
					    <ul>
						    <li>
                                <a class="section_02_box_content_title" href="@Url.Content("~/GrassrootWork/GrassrootDetail?id=1")">基层工作基层工作基层工作基层工作</a>
						    </li>
						     <li>
                                <a class="section_02_box_content_title" href="@Url.Content("~/GrassrootWork/GrassrootDetail?id=1")">基层工作基层工作基层工作基层工作</a>
						    </li>
                            <li>
                                <a class="section_02_box_content_title" href="@Url.Content("~/GrassrootWork/GrassrootDetail?id=1")">基层工作基层工作基层工作基层工作</a>
						    </li>
                            <li>
                                <a class="section_02_box_content_title" href="@Url.Content("~/GrassrootWork/GrassrootDetail?id=1")">基层工作基层工作基层工作基层工作</a>
						    </li>
                             <li>
                                <a class="section_02_box_content_title" href="@Url.Content("~/GrassrootWork/GrassrootDetail?id=1")">基层工作基层工作基层工作基层工作</a>
						    </li>
					    </ul>
                        <div class="more">
                            <a href="@Url.Content("~/GrassrootWork/GrassrootList")">更多>></a>
                        </div>
				    </div>
			    </div>

                <div class="section_02_box">
				    <h3>海湖新区</h3>
				    <div class="section_02_box_content">
					    <ul>
						    <li>
                                <a class="section_02_box_content_title" href="@Url.Content("~/GrassrootWork/GrassrootDetail?id=1")">基层工作基层工作基层工作基层工作</a>
						    </li>
						     <li>
                                <a class="section_02_box_content_title" href="@Url.Content("~/GrassrootWork/GrassrootDetail?id=1")">基层工作基层工作基层工作基层工作</a>
						    </li>
                            <li>
                                <a class="section_02_box_content_title" href="@Url.Content("~/GrassrootWork/GrassrootDetail?id=1")">基层工作基层工作基层工作基层工作</a>
						    </li>
                            <li>
                                <a class="section_02_box_content_title" href="@Url.Content("~/GrassrootWork/GrassrootDetail?id=1")">基层工作基层工作基层工作基层工作</a>
						    </li>
                             <li>
                                <a class="section_02_box_content_title" href="@Url.Content("~/GrassrootWork/GrassrootDetail?id=1")">基层工作基层工作基层工作基层工作</a>
						    </li>
					    </ul>
                        <div class="more">
                            <a href="@Url.Content("~/GrassrootWork/GrassrootList")">更多>></a>
                        </div>
				    </div>
			    </div>
            </div>

             <div class="cleaner_with_height">&nbsp;</div>
		    <div class="cleaner_with_height">&nbsp;</div>
	    </div>
	    <div class="cleaner">&nbsp;</div>
    </div>
</div>
