@{
    ViewBag.Title = "链接管理";
    Layout = "~/Views/Shared/_backLayout.cshtml";
}

<link rel="stylesheet" href ="@Url.Content("~/content/pagecss/backPageCss/LinkManageCss/LinkManageCss.css")">

<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
    <div class="row">
        <ol class="breadcrumb">
            <li class="active">链接管理</li>
        </ol>
    </div>

    <form class="search_form">
        <table>
            <tr>
                <td>
                    <input type="button" class="btn btn-primary" value="搜索" id="search" />
                </td>
                <td>
                    <div class="form-group" style="margin: 0;">
                        <input class="form-control" id="s_text">
                    </div>
                </td>
                <td>
                    <div class="form-group" style="margin: 0;">
                        <select class="form-control" id="s_type">
                            <option value="by_id">按ID</option>
                            <option value="by_name">按名称</option>
                        </select>
                    </div>
                </td>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                <td>
                    <input type="button" value="添加" class="btn btn-primary " data-toggle="modal" data-target="#addLink" />
                </td>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                <td>
                    <input type="button" class="btn btn-primary" value="删除所选" id="delete_selected" />
                </td>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                <td>
                    <input type="button" class="btn btn-primary" value="全选" id="select_all" />
                </td>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                <td>
                    <input type="button" class="btn btn-primary" value="反选" id="reverse_select" />
                </td>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                <td>
                    <input type="button" class="btn btn-primary" value="刷新" onclick="refresh()" />
                </td>
            </tr>
        </table>
    </form>

    <form id="selectedForm">
        <table data-toggle="table">
            <thead>
                <tr>
                    <th>选择</th>
                    <th>ID</th>
                    <th>连接名称</th>
                    <th>连接地址</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <div class="checkbox">
                            <label>
                                <input name="checkbox" type="checkbox" value="001">
                            </label>
                        </div>
                    </td>
                    <td>0001</td>
                    <td>中华军事网</td>
                    <td>http://www.baidu.com</td>
                    <td>
                        <a id="0001" data-toggle="modal" data-target="#modifyLink">修改</a>|
                    <a onclick="Delete(this.id)" id="001">删除</a>
                    </td>
                </tr>

                <tr>
                    <td>
                        <div class="checkbox">
                            <label>
                                <input name="checkbox" type="checkbox" value="002">
                            </label>
                        </div>
                    </td>
                    <td>0001</td>
                    <td>中华军事网</td>
                    <td>http://www.baidu.com</td>
                    <td>
                        <a id="0002" data-toggle="modal" data-target="#modifyLink">修改</a>|
                    <a onclick="Delete(this.id)" id="002">删除</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </form>

    <!-- 添加链接窗口 -->
    <div class="modal fade" id="addLink" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        ×
                    </button>
                    <h4 class="modal-title" id="addLinkLabel">添加链接
                    </h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" role="form" id="addLinkForm">
                        <div class="form-group">
                            <label for="firstname" class="col-sm-2 control-label">链接名称</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="LinkName" id="LinkName" placeholder="请输入链接名称">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="lastname" class="col-sm-2 control-label">链接地址</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="LinkAddress" id="LinkAddress" placeholder="请输入链接地址">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        关闭
                    </button>
                    <button type="button" class="btn btn-primary" id="btn_addLink">
                        添加
                    </button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

    <!-- 修改链接窗口 -->
    <div class="modal fade" id="modifyLink" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        ×
                    </button>
                    <h4 class="modal-title" id="modifyLinkLabel">修改链接
                    </h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" role="form" id="modifyLinkForm">
                        <div class="form-group">
                            <label for="firstname" class="col-sm-2 control-label">链接名称</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="newName" id="newName" placeholder="中华军事网">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="lastname" class="col-sm-2 control-label">链接地址</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="newAddress" id="newAddress" placeholder="www.zhjs.com">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        关闭
                    </button>
                    <button type="button" class="btn btn-primary" id="btn_modifyLink">
                        修改
                    </button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

</div>




<script>

    $(function () { $('#addLink').modal('hide') });
    $(function () { $('#modifyLink').modal('hide') });

    //添加链接
    jQuery("#btn_addLink").click(function () {
        var linkName = jQuery("input[id='LinkName']").val();
        var LinkAddress = jQuery("input[id='LinkAddress']").val();
        if (linkName.length == 0) {
            alert("请输入链接名称");
            return;
        }
        if (LinkAddress.length == 0) {
            alert("请输入链接地址");
            return;
        } else if (LinkAddress.indexOf("http://") < 0) {
            alert("请检查地址格式是否正确(例：http://www.baidu.com)");
            return;
        }
        jQuery.ajax({
            url: "@Url.Content("~/LinkManage/AddLink")",
            data: jQuery("#addLinkForm").serialize(),
            type: "POST",
            dataType: "text",
            success: function (data) {
                $('#addLink').modal('hide')
                alert(data);
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                alert(XMLHttpRequest.responseText);
            }
        });
    });

    //修改连接
    jQuery("#btn_modifyLink").click(function () {
        var linkID = this.id;
        var newName = jQuery("input[id='newName']").val();
        var newAddress = jQuery("input[id='newAddress']").val();
        if (newName.length == 0) {
            alert("请输入链接名称");
            return;
        }
        if (newAddress.length == 0) {
            alert("请输入链接地址");
            return;
        } else if (newAddress.indexOf("http://") < 0) {
            alert("请检查地址格式是否正确(例：http://www.baidu.com)");
            return;
        }
        jQuery.ajax({
            url: "@Url.Content("~/LinkManage/ModifyLink")",
            data: jQuery("#addLinkForm").serialize() + "&linkID=" + linkID,
            type: "POST",
            dataType: "text",
            success: function (data) {
                $('#modifyLink').modal('hide')
                alert(data);
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                alert(XMLHttpRequest.responseText);
            }
        });
    });

    //全选
    jQuery("#select_all").click(function () {
        var checkboxes = jQuery("input[name='checkbox']");
        for (var i = 0; i < checkboxes.length; i++) {
            checkboxes[i].checked = true;
        }
    });

    //反选
    jQuery("#reverse_select").click(function () {
        var checkboxes = jQuery("input[name='checkbox']");
        for (var i = 0; i < checkboxes.length; i++) {
            if (checkboxes[i].checked) {
                checkboxes[i].checked = false;
            } else {
                checkboxes[i].checked = true;
            }
        }
    });

    //刷新
    function refresh() {
        jQuery.ajax({
            url: "@Url.Content("~/LinkManage/Refresh")",
            dataType: "text",
            type: "GET",
            success: function (data) {
                alert(data);
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                alert(XMLHttpRequest.responseText);
            }
        });
    }

    //删除
    function Delete(id) {
        jQuery.ajax({
            url: "@Url.Content("~/LinkManage/Delete")",
            dataType: "text",
            type: "POST",
            data: "id=" + id,
            success: function (data) {
                alert(data);
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                alert(XMLHttpRequest.responseText);
            }
        });
    }

    //批量删除
    jQuery("#delete_selected").click(function () {
        var n = jQuery("input[name='checkbox']:checked").length;
        if (n == 0) {
            alert("请至少选择一条");
        }
        else {
            var data = jQuery("#selectedForm").serialize();
            jQuery.ajax({
                url: "@Url.Content("~/LinkManage/DeleteMore")",
                dataType: "text",
                type: "POST",
                data: data,
                success: function (data) {
                    alert(data);
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert(XMLHttpRequest.responseText);
                }
            });
        }
    });

    //搜索
    jQuery("#search").click(function () {
        var s_type = jQuery("#s_type").val();
        var s_text = jQuery("#s_text").val();;
        if(s_text.length<=0){
            alert("请输入查询条件");
            return;
        }
        jQuery.ajax({
            url: "@Url.Content("~/LinkManage/Search")",
            data: "s_type=" + s_type + "&s_text=" + s_text,
            type: "POST",
            dataType: "text",
            success: function (data) {
                alert(data);
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                alert(XMLHttpRequest.responseText);
            }
        });
    });
</script>

