@model  XnNationalDefenseMobilize.Models.News.NewsInfo 
@{
    ViewBag.Title = Model.newsCategory.newsCategory_name;
}

<link href="@Url.Content("~/Content/pagecss/frontpagecss/newscss/newsdetail.css")" rel="stylesheet" type="text/css" media="all" />
<link href="@Url.Content("~/Content/pagecss/frontpagecss/newscss/newsdetailred.css")" rel="stylesheet" type="text/css" media="all" />

<!-- Wrapper Start -->
<div id="outer_wrapper">
    <!-- Content Section Start -->
    <div id="contentsec">
        <div class="inner">
            <div class="twothird left">
                <!-- Two Third Box Start -->
                <div class="twothird box left">
                    <h2 class="widget-head-border colr"><b>@Model.news_title</b></h2>
                    <div class="blog">
                        <!-- Blog Post Start -->
                        <div class="post">
                            <div class="p-date">
                                <span>@Model.new_release_time.ToString("dd")</span>
                                <span>@Model.new_release_time.ToString("yyyy.MM")</span>
                            </div>
                            <div class="post-sec">
                                <div class="thumb" style="text-align:center">
                                    <a href="#">
                                        <img src="@Url.Content("~/Image/news/test.png")" alt="" />
                                    </a>
                                </div>
                                <div class="post-desc">
                                    @Html.Raw(Model.news_content)

                                     <div class="post-opts">
                                        <p class="postby">供稿：<span style="color:#666">@Model.news_source</span></p>
                                        <p class="postby">编辑：<span style="color:#666">@Model.news_author</span></p>
                                        <p class="post-time">2016.8.18</p>
                                        <p class="post-time">青海省警备司令部</p>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <!-- Blog Post End -->
                    </div>
                </div>
                <!-- Two Third Box End -->
            </div>
            <!-- One Third Box Start -->
        </div>
    </div>
    <!-- Content Section End -->
</div>
<!-- Wrapper End -->