@{
    ViewBag.Title = "媒体印象";
}
<link href="@Url.Content("~/content/pagecss/frontPageCss/mediaImpressCss/MediaImpress.css")" rel="stylesheet" type="text/css" media="all" />
<!--mediaimpress-->
<div class="container">
    <div class="col-md-12 impress-grids">
        <div class="col-md-4 army-left">
            <div class="army-top">
                <h3 ><b>解放军军报</b></h3>
            </div>
            <img src="~/Image/mediaimpress/jb.png" alt="" />
            <ul>
                <li><a href="@Url.Content("~/MediaImpress/MediaimpressDetail ?id =3")">中国空军12型装备将首次向社会公众展示</a></li>
                <li><a href="@Url.Content("~/MediaImpress/MediaimpressDetail ?id =3")">中国空军12型装备将首次向社会公众展示</a></li>
                <li><a href="@Url.Content("~/MediaImpress/MediaimpressDetail ?id =3")">中国空军12型装备将首次向社会公众展示</a></li>
                <li><a href="@Url.Content("~/MediaImpress/MediaimpressDetail ?id =3")">中国空军12型装备将首次向社会公众展示</a></li>
                <li><a href="@Url.Content("~/MediaImpress/MediaimpressDetail ?id =3")">中国空军12型装备将首次向社会公众展示</a></li>
            </ul>
            <div class="nunc-bwn" style="clear: both">
                <a href="@Url.Content("~/MediaImpress/MediaimpressList?id =3")">More >></a>
            </div>
        </div>
        <div class="col-md-4 army-left">
            <div class="army-top">
                <h3><b>解放军画报</b></h3>
            </div>
            <img src="~/Image/mediaimpress/jfjhb.png" alt="" />
            <ul>
                <li><a href="@Url.Content("~/MediaImpress/MediaimpressDetail ?id =3")">中国空军12型装备将首次向社会公众展示</a></li>
                <li><a href="@Url.Content("~/MediaImpress/MediaimpressDetail ?id =3")">中国空军12型装备将首次向社会公众展示</a></li>
                <li><a href="@Url.Content("~/MediaImpress/MediaimpressDetail ?id =3")">中国空军12型装备将首次向社会公众展示</a></li>
                <li><a href="@Url.Content("~/MediaImpress/MediaimpressDetail ?id =3")">中国空军12型装备将首次向社会公众展示</a></li>
                <li><a href="@Url.Content("~/MediaImpress/MediaimpressDetail ?id =3")">中国空军12型装备将首次向社会公众展示</a></li>
            </ul>
            <div class="nunc-bwn" style="clear: both">
                <a href="@Url.Content("~/MediaImpress/MediaimpressList?id =3")">More >></a>
            </div>
        </div>
        <div class="col-md-4 army-left">
            <div class="army-top">
                <h3><b>中国国防报</b></h3>
            </div>
            <img src="~/Image/mediaimpress/gfb.png" alt="" />
            <ul>
                <li><a href="@Url.Content("~/MediaImpress/MediaimpressDetail ?id =3")">中国空军12型装备将首次向社会公众展示</a></li>
                <li><a href="@Url.Content("~/MediaImpress/MediaimpressDetail ?id =3")">中国空军12型装备将首次向社会公众展示</a></li>
                <li><a href="@Url.Content("~/MediaImpress/MediaimpressDetail ?id =3")">中国空军12型装备将首次向社会公众展示</a></li>
                <li><a href="@Url.Content("~/MediaImpress/MediaimpressDetail ?id =3")">中国空军12型装备将首次向社会公众展示</a></li>
                <li><a href="@Url.Content("~/MediaImpress/MediaimpressDetail ?id =3")">中国空军12型装备将首次向社会公众展示</a></li>
            </ul>
            <div class="nunc-bwn" style="clear: both">
                <a href="@Url.Content("~/MediaImpress/MediaimpressList?id =3")">More >></a>
            </div>
        </div>

    </div>
    <div class="col-md-12 impress-grids">
        <div class="col-md-4 army-left">
            <div class="army-top">
                <h3><b>军报</b></h3>
            </div>
            <img src="~/Image/mediaimpress/jb.png" alt="" />
            <ul>
                <li><a href="@Url.Content("~/MediaImpress/MediaimpressDetail ?id =3")">中国空军12型装备将首次向社会公众展示</a></li>
                <li><a href="@Url.Content("~/MediaImpress/MediaimpressDetail ?id =3")">中国空军12型装备将首次向社会公众展示</a></li>
                <li><a href="@Url.Content("~/MediaImpress/MediaimpressDetail ?id =3")">中国空军12型装备将首次向社会公众展示</a></li>
                <li><a href="@Url.Content("~/MediaImpress/MediaimpressDetail ?id =3")">中国空军12型装备将首次向社会公众展示</a></li>
                <li><a href="@Url.Content("~/MediaImpress/MediaimpressDetail ?id =3")">中国空军12型装备将首次向社会公众展示</a></li>
            </ul>
            <div class="nunc-bwn" style="clear: both">
                <a href="@Url.Content("~/MediaImpress/MediaimpressList?id =3")">More >></a>
            </div>
        </div>
        <div class="col-md-4 army-left">
            <div class="army-top">
                <h3><b>国防</b></h3>
            </div>
            <img src="~/Image/mediaimpress/jfjhb.png" alt="" />
            <ul>
                <li><a href="@Url.Content("~/MediaImpress/MediaimpressDetail ?id =3")">中国空军12型装备将首次向社会公众展示</a></li>
                <li><a href="@Url.Content("~/MediaImpress/MediaimpressDetail ?id =3")">中国空军12型装备将首次向社会公众展示</a></li>
                <li><a href="@Url.Content("~/MediaImpress/MediaimpressDetail ?id =3")">中国空军12型装备将首次向社会公众展示</a></li>
                <li><a href="@Url.Content("~/MediaImpress/MediaimpressDetail ?id =3")">中国空军12型装备将首次向社会公众展示</a></li>
                <li><a href="@Url.Content("~/MediaImpress/MediaimpressDetail ?id =3")">中国空军12型装备将首次向社会公众展示</a></li>
            </ul>
            <div class="nunc-bwn" style="clear: both">
                <a href="@Url.Content("~/MediaImpress/MediaimpressList?id =3")">More >></a>
            </div>
        </div>
        <div class="col-md-4 army-left">
            <div class="army-top">
                <h3><b>中国兵法</b></h3>
            </div>
            <img src="~/Image/mediaimpress/gfb.png" alt="" />
            <ul>
                <li><a href="@Url.Content("~/MediaImpress/MediaimpressDetail ?id =3")">中国空军12型装备将首次向社会公众展示</a></li>
                <li><a href="@Url.Content("~/MediaImpress/MediaimpressDetail ?id =3")">中国空军12型装备将首次向社会公众展示</a></li>
                <li><a href="@Url.Content("~/MediaImpress/MediaimpressDetail ?id =3")">中国空军12型装备将首次向社会公众展示</a></li>
                <li><a href="@Url.Content("~/MediaImpress/MediaimpressDetail ?id =3")">中国空军12型装备将首次向社会公众展示</a></li>
                <li><a href="@Url.Content("~/MediaImpress/MediaimpressDetail ?id =3")">中国空军12型装备将首次向社会公众展示</a></li>
            </ul>
            <div class="nunc-bwn" style="clear: both">
                <a href="@Url.Content("~/MediaImpress/MediaimpressList?id =3")">More >></a>
            </div>
        </div>

    </div>
    <!--
    <div class="col-md-12 impress-grids" style="margin-bottom: 40px">
        <h3><b>其他媒体</b></h3>
        <div class="col-md-3 others-left">
            <img src="~/Image/mediaimpress/s-1.jpg" alt="" />
            <h4>人民日报</h4>
            <ul>
                <li><a href="#">巡视工作，习近平连出“大招”</a></li>
            </ul>
        </div>
        <div class="col-md-3 others-left">
            <img src="~/Image/mediaimpress/s-2.jpg" alt="" />
            <h4>西海都市报</h4>
            <ul>
                <li><a href="#">巡视工作，习近平连出“大招”</a></li>
            </ul>
        </div>
        <div class="col-md-3 others-left">
            <img src="~/Image/mediaimpress/s-3.jpg" alt="" />
            <h4>青海经视</h4>
            <ul>
                <li><a href="#">巡视工作，习近平连出“大招”</a></li>
            </ul>
        </div>
        <div class="col-md-3 others-left">
            <img src="~/Image/mediaimpress/s-4.jpg" alt="" />
            <h4>CCTV</h4>
            <ul>
                <li><a href="#">巡视工作，习近平连出“大招”</a></li>
            </ul>
        </div>
            <div class="nunc-bwn" style="clear: both">
        <a href="@Url.Content("~/download/downloadList?id =3")">More >></a>
    </div>
    </div>
    -->
</div>
