@{
    ViewBag.Title = "下载中心";
}
@using XnNationalDefenseMobilize.Models.Download
@model IEnumerable<Download>
@{string[] titles = new string[4] { "文件下载", "应用下载", "软件下载", "图书下载" };}

<link href="@Url.Content("~/Content/pagecss/frontpagecss/downloadcss/download.css")" rel="stylesheet" type="text/css" media="all" />


<div class="container" id="download_container">

    @for (int i = 0; i < titles.Count(); i++)
    {
        <div class="col-md-12 download-top-grid">
            <h3 style="font-size: 20px"><b>@titles[i]</b></h3>

            @{
                IEnumerable<Download> downloadsList = from items in Model where items.downloadCategory_id == (i + 1) orderby items.download_release_time select items;
                Download[] downloadsArray = downloadsList.ToArray();
                int items_to_display_count = Math.Min(downloadsArray.Count(), 8);    
            }

            <div class="col-md-6">
                <ul>
                    @for (int j = 0; j < Math.Ceiling(items_to_display_count / 2.0); j++)
                    {
                        <li style="font-size: 1.3em; font-family: 'sans-serif', '\5FAE\8F6F\96C5\9ED1';">@downloadsArray[i + j].download_title<a href="@Url.Content(@downloadsArray[i + j].download_source)"><span class="glyphicon glyphicon-download download"></span></a></li>
                    }
                </ul>
            </div>
            <div class="col-md-6">
                <ul>
                    @for (int j = (int)Math.Ceiling(items_to_display_count / 2.0); j < items_to_display_count; j++)
                    {
                        <li style="font-size: 1.3em; font-family: 'sans-serif', '\5FAE\8F6F\96C5\9ED1';">@downloadsArray[i + j].download_title<a href="@Url.Content(@downloadsArray[i + j].download_source)"><span class="glyphicon glyphicon-download download"></span></a></li>
                    }
                </ul>
            </div>

            <div class="nunc-bwn" style="clear: both">
                <a href="@Url.Content("~/download/downloadList?type_id="+(i+1))">More >></a>
            </div>
            <div style="clear: both"></div>
        </div>
    }
</div>
