@{
    ViewBag.Title = "下载中心";
    Layout = "~/Views/Shared/_backLayout.cshtml";
}

<link rel="stylesheet" href ="@Url.Content("~/content/pagecss/backPageCss/LinkManageCss/LinkManageCss.css")">

<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
    <div class="row">
        <ol class="breadcrumb">
            <li class="active">下载中心</li>
        </ol>
    </div>

    <div class="panel panel-default">
        <div class="panel-body tabs">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#tab1" data-toggle="tab">文件</a></li>
                <li><a href="#tab2" data-toggle="tab">手机应用</a></li>
                <li><a href="#tab3" data-toggle="tab">pc软件</a></li>
                <li><a href="#tab4" data-toggle="tab">图书</a></li>
            </ul>

            <div class="tab-content">
                <!---------------------- 文件管理模块---------------------->
                <div class="tab-pane fade in active" id="tab1">

                    <form class="search_form">
                        <table>
                            <tr>
                                <td>
                                    <input type="button" class="btn btn-primary" value="搜索" id="file_search" name="search" />
                                </td>
                                <td>
                                    <div class="form-group" style="margin: 0;">
                                        <input class="form-control" name="s_text">
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group" style="margin: 0;">
                                        <select class="form-control" name="s_type">
                                            <option value="by_id">按ID</option>
                                            <option value="by_name">按名称</option>
                                        </select>
                                    </div>
                                </td>
                                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                <td>
                                    <input type="button" class="btn btn-primary" value="上传" name="upload" data-toggle="modal" data-target="#addfile" />
                                </td>
                                <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                <td>
                                    <input type="button" class="btn btn-primary" value="删除所选" id="file_delete_selected" name="delete_selected" />
                                </td>
                                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                <td>
                                    <input type="button" class="btn btn-primary" value="全选" id="file_select_all" name="select_all" />
                                </td>
                                <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                <td>
                                    <input type="button" class="btn btn-primary" value="反选" id="file_reverse_select" name="reverse_select" />
                                </td>
                                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                <td>
                                    <input type="button" class="btn btn-primary" value="刷新" id="file_refresh" name="refresh" />
                                </td>
                            </tr>
                        </table>
                    </form>
                    <form id="file_model">
                        <table data-toggle="table">
                            <thead>
                                <tr>
                                    <th>选择</th>
                                    <th>ID</th>
                                    <th>文件名称</th>
                                    <th>文件类型</th>
                                    <th>文件大小</th>
                                    <th>上传时间</th>
                                    <th>下载次数</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" value="1001" name="resource">
                                            </label>
                                        </div>
                                    </td>
                                    <td>0001</td>
                                    <td>大学生入伍宣传手册</td>
                                    <td>doc</td>
                                    <td>120KB</td>
                                    <td>2016-8-26 14:20</td>
                                    <td>30</td>
                                    <td>
                                        <a id="1001" onclick="Delete(this.id)">删除</a>
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" value="1002" name="resource">
                                            </label>
                                        </div>
                                    </td>
                                    <td>0001</td>
                                    <td>大学生入伍宣传手册</td>
                                    <td>doc</td>
                                    <td>120KB</td>
                                    <td>2016-8-26 14:20</td>
                                    <td>30</td>
                                    <td>
                                        <a id="1002" onclick="Delete(this.id)">删除</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </form>

                    <center>
                        <ul class="pagination">
                            <li><a href="">&laquo;</a></li>
                            <li><a href="">1</a></li>
                            <li><a href="">2</a></li>
                            <li><a href="">3</a></li>
                            <li><a href="">4</a></li>
                            <li><a href="">5</a></li>
                            <li><a href="">&raquo;</a></li>
                        </ul>
                    </center>

                </div>
                <!---------------------- 手机应用模块---------------------->
                <div class="tab-pane fade" id="tab2">
                    <form class="search_form">
                        <table>
                            <tr>
                                <td>
                                    <input type="button" class="btn btn-primary" value="搜索" id="phone_search" name="search" />
                                </td>
                                <td>
                                    <div class="form-group" style="margin: 0;">
                                        <input class="form-control" name="s_text">
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group" style="margin: 0;">
                                        <select class="form-control" name="s_type">
                                            <option value="by_id">按ID</option>
                                            <option value="by_name">按名称</option>
                                        </select>
                                    </div>
                                </td>
                                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                <td>
                                    <input type="button" class="btn btn-primary" value="上传" name="upload" data-toggle="modal" data-target="#addfile" />
                                </td>
                                <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                <td>
                                    <input type="button" class="btn btn-primary" value="删除所选" id="phone_app_delete_selected" name="delete_selected" />
                                </td>
                                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                <td>
                                    <input type="button" class="btn btn-primary" value="全选" id="phone_app_select_all" name="select_all" />
                                </td>
                                <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                <td>
                                    <input type="button" class="btn btn-primary" value="反选" id="phone_app_reverse_select" name="reverse_select" />
                                </td>
                                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                <td>
                                    <input type="button" class="btn btn-primary" value="刷新" id="phone_app_refresh" name="refresh" />
                                </td>
                            </tr>
                        </table>
                    </form>

                    <form id="phone_app">
                        <table data-toggle="table">
                            <thead>
                                <tr>
                                    <th>选择</th>
                                    <th>ID</th>
                                    <th>应用名称</th>
                                    <th>应用类型</th>
                                    <th>应用大小</th>
                                    <th>上传时间</th>
                                    <th>下载次数</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" value="2001" name="resource">
                                            </label>
                                        </div>
                                    </td>
                                    <td>0001</td>
                                    <td>愤怒的小鸟</td>
                                    <td>安卓应用</td>
                                    <td>12MB</td>
                                    <td>2016-8-26 14:20</td>
                                    <td>30</td>
                                    <td>
                                        <a id="2001" onclick="Delete(this.id)">删除</a>
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" value="2002" name="resource">
                                            </label>
                                        </div>
                                    </td>
                                    <td>0001</td>
                                    <td>愤怒的小鸟</td>
                                    <td>苹果应用</td>
                                    <td>12MB</td>
                                    <td>2016-8-26 14:20</td>
                                    <td>30</td>
                                    <td>
                                        <a id="2002" onclick="Delete(this.id)">删除</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </form>

                    <center>
                        <ul class="pagination">
                            <li><a href="">&laquo;</a></li>
                            <li><a href="">1</a></li>
                            <li><a href="">2</a></li>
                            <li><a href="">3</a></li>
                            <li><a href="">4</a></li>
                            <li><a href="">5</a></li>
                            <li><a href="">&raquo;</a></li>
                        </ul>
                    </center>
                </div>
                <!---------------------- pc软件模块---------------------->
                <div class="tab-pane fade" id="tab3">
                    <form class="search_form">
                        <table>
                            <tr>
                                <td>
                                    <input type="button" class="btn btn-primary" value="搜索" id="pc_search" name="search" />
                                </td>
                                <td>
                                    <div class="form-group" style="margin: 0;">
                                        <input class="form-control" name="s_text">
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group" style="margin: 0;">
                                        <select class="form-control" name="s_type">
                                            <option value="by_id">按ID</option>
                                            <option value="by_name">按名称</option>
                                        </select>
                                    </div>
                                </td>
                                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                <td>
                                    <input type="button" class="btn btn-primary" value="上传" name="upload" data-toggle="modal" data-target="#addfile" />
                                </td>
                                <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                <td>
                                    <input type="button" class="btn btn-primary" value="删除所选" id="pc_delete_selected" name="delete_selected" />
                                </td>
                                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                <td>
                                    <input type="button" class="btn btn-primary" value="全选" id="pc_select_all" name="select_all" />
                                </td>
                                <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                <td>
                                    <input type="button" class="btn btn-primary" value="反选" id="pc_reverse_select" name="reverse_select" />
                                </td>
                                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                <td>
                                    <input type="button" class="btn btn-primary" value="刷新" id="pc_refresh" name="refresh" />
                                </td>
                            </tr>
                        </table>
                    </form>

                    <form id="pc">
                        <table data-toggle="table">
                            <thead>
                                <tr>
                                    <th>选择</th>
                                    <th>ID</th>
                                    <th>软件名称</th>
                                    <th>软件大小</th>
                                    <th>上传时间</th>
                                    <th>下载次数</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" value="3001" name="resource">
                                            </label>
                                        </div>
                                    </td>
                                    <td>0001</td>
                                    <td>暴风播放器</td>
                                    <td>120MB</td>
                                    <td>2016-8-26 14:20</td>
                                    <td>30</td>
                                    <td>
                                        <a id="3001" onclick="Delete(this.id)">删除</a>
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" value="3002" name="resource">
                                            </label>
                                        </div>
                                    </td>
                                    <td>0001</td>
                                    <td>暴风播放器</td>
                                    <td>120MB</td>
                                    <td>2016-8-26 14:20</td>
                                    <td>30</td>
                                    <td>
                                        <a id="3002" onclick="Delete(this.id)">删除</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </form>


                    <center>
                        <ul class="pagination">
                            <li><a href="">&laquo;</a></li>
                            <li><a href="">1</a></li>
                            <li><a href="">2</a></li>
                            <li><a href="">3</a></li>
                            <li><a href="">4</a></li>
                            <li><a href="">5</a></li>
                            <li><a href="">&raquo;</a></li>
                        </ul>
                    </center>
                </div>
                <!---------------------- 图书管理模块---------------------->
                <div class="tab-pane fade" id="tab4">
                    <form class="search_form">
                        <table>
                            <tr>
                                <td>
                                    <input type="button" class="btn btn-primary" value="搜索" id="book_search" name="search" />
                                </td>
                                <td>
                                    <div class="form-group" style="margin: 0;">
                                        <input class="form-control" name="s_text">
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group" style="margin: 0;">
                                        <select class="form-control" name="s_type">
                                            <option value="by_id">按ID</option>
                                            <option value="by_name">按名称</option>
                                        </select>
                                    </div>
                                </td>
                                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                <td>
                                    <input type="button" class="btn btn-primary" value="上传" name="upload" data-toggle="modal" data-target="#addfile" />
                                </td>
                                <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                <td>
                                    <input type="button" class="btn btn-primary" value="删除所选" id="book_delete_selected" name="delete_selected" />
                                </td>
                                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                <td>
                                    <input type="button" class="btn btn-primary" value="全选" id="book_select_all" name="select_all" />
                                </td>
                                <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                <td>
                                    <input type="button" class="btn btn-primary" value="反选" id="book_reverse_select" name="reverse_select" />
                                </td>
                                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                <td>
                                    <input type="button" class="btn btn-primary" value="刷新" id="book_refresh" name="refresh" />
                                </td>
                            </tr>
                        </table>
                    </form>

                    <form id="book">
                        <table data-toggle="table">
                            <thead>
                                <tr>
                                    <th>选择</th>
                                    <th>ID</th>
                                    <th>图书名称</th>
                                    <th>作者</th>
                                    <th>出版社</th>
                                    <th>文件格式</th>
                                    <th>文件大小</th>
                                    <th>上传时间</th>
                                    <th>下载次数</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" value="4001" name="resource">
                                            </label>
                                        </div>
                                    </td>
                                    <td>0001</td>
                                    <td>红楼梦</td>
                                    <td>曹雪芹</td>
                                    <td>新华出版社</td>
                                    <td>pdf</td>
                                    <td>2MB</td>
                                    <td>2016-8-26 14:20</td>
                                    <td>30</td>
                                    <td>
                                        <a id="4001" onclick="Delete(this.id)">删除</a>
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" value="4002" name="resource">
                                            </label>
                                        </div>
                                    </td>
                                    <td>0001</td>
                                    <td>红楼梦</td>
                                    <td>曹雪芹</td>
                                    <td>新华出版社</td>
                                    <td>pdf</td>
                                    <td>2MB</td>
                                    <td>2016-8-26 14:20</td>
                                    <td>30</td>
                                    <td>
                                        <a id="4002" onclick="Delete(this.id)">删除</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </form>


                    <center>
                        <ul class="pagination">
                            <li><a href="">&laquo;</a></li>
                            <li><a href="">1</a></li>
                            <li><a href="">2</a></li>
                            <li><a href="">3</a></li>
                            <li><a href="">4</a></li>
                            <li><a href="">5</a></li>
                            <li><a href="">&raquo;</a></li>
                        </ul>
                    </center>
                </div>
            </div>
        </div>
    </div>
    <!--/.panel-->



    <!-- 上传文件窗口 -->
    <div class="modal fade" id="addfile" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        ×
                    </button>
                    <h4 class="modal-title" id="addLinkLabel">上传文件
                    </h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" role="form" id="fileInfo">
                        <div class="form-group">
                            <label for="firstname" class="col-sm-2 control-label">文件名称</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="fileName" id="fileName">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="lastname" class="col-sm-2 control-label">文件类别</label>
                            <div class="col-md-6">
                                <select class="form-control" name="classify">
                                    <option value="f_file">文件</option>
                                    <option value="f_app">手机应用</option>
                                    <option value="f_pc">pc软件</option>
                                    <option value="f_book">书籍</option>
                                </select>
                            </div>
                        </div>
                        <table>
                            <tr>
                                <td>
                                    <input type="button" class="btn btn-primary" value="选择文件" id="chooseVideo" />
                                </td>
                                <td width="20px"></td>
                                <td>
                                    <input type="text" class="form-control" id="fileUrl" name="fileUrl">
                                </td>
                            </tr>
                        </table>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        关闭
                    </button>
                    <button type="button" class="btn btn-primary" id="ok_file">
                        确定
                    </button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->


</div>
<script>

    //全选
    jQuery("input[name='select_all']").click(function () {
        var model_id;
        switch (this.id) {
            case 'file_select_all': model_id = "#file_model"; break;
            case 'phone_app_select_all': model_id = "#phone_app"; break;
            case 'pc_select_all': model_id = "#pc"; break;
            case 'book_select_all': model_id = "#book"; break;
        }

        var checkboxes = jQuery(model_id + " :input");
        for (var i = 0; i < checkboxes.length; i++) {
            checkboxes[i].checked = true;
        }
    });

    //反选
    jQuery("input[name='reverse_select']").click(function () {
        var model_id;
        switch (this.id) {
            case 'file_reverse_select': model_id = "#file_model"; break;
            case 'phone_app_reverse_select': model_id = "#phone_app"; break;
            case 'pc_reverse_select': model_id = "#pc"; break;
            case 'book_reverse_select': model_id = "#book"; break;
        }

        var checkboxes = jQuery(model_id + " :input");
        for (var i = 0; i < checkboxes.length; i++) {
            if (checkboxes[i].checked) {
                checkboxes[i].checked = false;
            } else {
                checkboxes[i].checked = true;
            }
        }
    });

    //删除
    function Delete(id) {
        jQuery.ajax({
            url: "@Url.Content("~/DownloadManage/Delete")",
            dataType: "text",
            type: "POST",
            data: "id=" + id,
            success: function (data) {
                alert(data);
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                alert(XMLHttpRequest.responseText);
            }
        });
    }

    //批量删除
    jQuery("input[name='delete_selected']").click(function () {
        var model_id;
        switch (this.id) {
            case 'file_delete_selected': model_id = "#file_model"; break;
            case 'phone_app_delete_selected': model_id = "#phone_app"; break;
            case 'pc_delete_selected': model_id = "#pc"; break;
            case 'book_delete_selected': model_id = "#book"; break;
        }

        var n = jQuery(model_id + " :input[type='checkbox']:checked").length;
        if (n == 0) {
            alert("请至少选择一条");
        }
        else {
            var data = jQuery(model_id).serialize();
            jQuery.ajax({
                url: "@Url.Content("~/DownloadManage/DeleteMore")",
                dataType: "text",
                type: "POST",
                data: data,
                success: function (data) {
                    alert(data);
                    refresh();
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert(XMLHttpRequest.responseText);
                }
            });
            }
    });


        //刷新
        jQuery("input[name='refresh']").click(function () {
            var model_id;
            switch (this.id) {
                case 'file_refresh': model_id = "file_model"; break;
                case 'phone_app_refresh': model_id = "phone_app"; break;
                case 'pc_refresh': model_id = "pc"; break;
                case 'book_refresh': model_id = "book"; break;
            }
            jQuery.ajax({
                url: "@Url.Content("~/DownloadManage/Refresh")",
                dataType: "text",
                type: "POST",
                data: "model_id=" + model_id,
                success: function (data) {
                    alert(data);
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert(XMLHttpRequest.responseText);
                }
            });
        });



        //搜索
        jQuery("input[name='search']").click(function () {
            var model = this.id;
            var s_type = jQuery("input[name='s_type']").val();
            var s_text = jQuery("input[name='s_text']").val();;
            if (s_text.length <= 0) {
                alert("请输入查询条件");
                return;
            }
            jQuery.ajax({
                url: "@Url.Content("~/DownloadManage/Search")",
                data: "model=" + model + "&s_type=" + s_type + "&s_text=" + s_text,
                type: "POST",
                dataType: "text",
                success: function (data) {
                    alert(data);
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert(XMLHttpRequest.responseText);
                }
            });
        });


        $(function () { $('#addfile').modal('hide') });
        //上传视频
        KindEditor.ready(function (K) {
            var editor = K.editor({
                uploadJson: '@Url.Content("~/editor/upload_json.ashx")',
                allowFileManager: true
            });
            jQuery("#chooseVideo").click(function () {
                editor.loadPlugin('insertfile', function () {
                    editor.plugin.fileDialog({
                        fileUrl: jQuery('#fileUrl').val(),
                        clickFn: function (url, title) {
                            jQuery('#fileUrl').val(url);
                            editor.hideDialog();
                        }
                    });
                });
            });
        });

    jQuery("#ok_file").click(function () {
                var fileName = jQuery("#fileName").val();
                var fileUrl = jQuery("#fileUrl").val();
                if (fileName.length <= 0) {
                    alert("请输入文件名称");
                    return;
                }
                if (fileUrl.length <= 0) {
                    alert("请上传文件");
                    return;
                }
                jQuery.ajax({
                    url: "@Url.Content("~/DownloadManage/Upload")",
                    data: jQuery("#fileInfo").serialize(),
                    type: "POST",
                    dataType: "text",
                    success: function (data) {
                        jQuery('#addVideo').modal('hide');
                        alert(data);
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        alert(XMLHttpRequest.responseText);
                    }
                });
            });
</script>
