@{
    ViewBag.Title = "标语管理";
    Layout = "~/Views/Shared/_backLayout.cshtml";
}

@model IEnumerable<XnNationalDefenseMobilize.Models.Slogan.Slogan>

<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
    <div class="row">
        <ol class="breadcrumb">
            <li class="active">标语管理</li>
        </ol>
    </div>



    <table data-toggle="table">
        <thead>
            <tr>
                <th>选择</th>
                <th>ID</th>
                <th>标语位置</th>
                <th>标语内容</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" value="">
                            </label>
                        </div>
                    </td>
                    <td>@item.slogan_id</td>
                    <td>@item.slogan_location</td>
                    <td>@item.slogan__content</td>
                    <td>
                        <a class="modify" onclick="showDialog('@item.slogan_id','@item.slogan__content','@item.slogan_location')">修改</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<!-- 修改标语窗口 -->
<div class="modal fade" id="modifySlogan" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    ×
                </button>
                <h4 class="modal-title" id="addLinkLabel">修改标语
                </h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form" id="modify_sloganForm">
                    <div class="form-group">
                        <label for="firstname" class="col-sm-2 control-label">标语内容</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="sloganContent" id="sloganContent" placeholder="请输入新的标语">
                        </div>
                    </div>
                    <input type="hidden" name="slogan_localtion" />
                    <input type="hidden" name="slogan_id" />
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    关闭
                </button>
                <button type="button" class="btn btn-primary" id="btn_modifySlogan">
                    修改
                </button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<script>

    function showDialog(slogan_id, slogan__content, slogan_location) {
        jQuery("input[name='slogan_id']").val(slogan_id);
        jQuery("input[name='sloganContent']").val(slogan__content);
        jQuery("input[name='slogan_localtion']").val(slogan_location);
        jQuery('#modifySlogan').modal('show');
    }

    //修改标语
    jQuery('#btn_modifySlogan').click(function () {
        jQuery.ajax({
            type: "POST",
            url: "@Url.Content("~/SloganManage/ChangeSlogan")",
            data: jQuery("#modify_sloganForm").serialize(),
            dataType: "text",
            success: function (data) {
                jQuery('#modifySlogan').modal('hide');
                window.location.href = "@Url.Content("~/SloganManage")";
                alert(data);
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                alert(XMLHttpRequest.responseText);
            }
        });

    });

</script>
