@{
    ViewBag.Title = "政策咨询";
    Layout = "~/Views/Shared/_backLayout.cshtml";
}

<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
    <div class="row">
        <ol class="breadcrumb">
            <li class="active">政策咨询</li>
        </ol>
    </div>

    <div class="panel panel-default">
        <div class="panel-body tabs">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#tab1" data-toggle="tab">常见问题</a></li>
                <li><a href="#tab2" data-toggle="tab">留言表</a></li>
            </ul>

            <div class="tab-content">
                <!---------------------- 常见问题模块---------------------->
                <div class="tab-pane fade in active" id="tab1">

                    <form class="search_form">
                        <table>
                            <tr>
                                <td>
                                    <input type="button" class="btn btn-primary" value="搜索" id="cjwt_search" name="search" />
                                </td>
                                <td>
                                    <div class="form-group" style="margin: 0;">
                                        <input class="form-control" name="s_text">
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group" style="margin: 0;">
                                        <select class="form-control" name="s_type">
                                            <option value="by_id">按ID</option>
                                            <option value="by_name">按标题</option>
                                        </select>
                                    </div>
                                </td>
                                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                <td>
                                    <input type="button" class="btn btn-primary" value="发布" name="upload" onclick="publish_news()" />
                                </td>
                                <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                <td>
                                    <input type="button" class="btn btn-primary" value="删除所选" id="cjwt_delete_selected" name="delete_selected" />
                                </td>
                                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                <td>
                                    <input type="button" class="btn btn-primary" value="全选" id="cjwt_select_all" name="select_all" />
                                </td>
                                <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                <td>
                                    <input type="button" class="btn btn-primary" value="反选" id="cjwt_reverse_select" name="reverse_select" />
                                </td>
                                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                <td>
                                    <input type="button" class="btn btn-primary" value="刷新" id="cjwt_refresh" name="refresh" onclick="Refresh(this.id)" />
                                </td>
                            </tr>
                        </table>
                    </form>
                    <form id="cjwt_model">
                        <table data-toggle="table">
                            <thead>
                                <tr>
                                    <th>选择</th>
                                    <th>ID</th>
                                    <th>标题</th>
                                    <th>作者</th>
                                    <th>来源</th>
                                    <th>发布时间</th>
                                    <th>浏览次数</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" value="1001" name="news">
                                            </label>
                                        </div>
                                    </td>
                                    <td>0001</td>
                                    <td>国家鼓励高校应届毕业生应征入伍服义务兵役，这里的“高校毕业生”如何界定？</td>
                                    <td>XXX</td>
                                    <td>国防动员中心</td>
                                    <td>2016-8-26 14:20</td>
                                    <td>30</td>
                                    <td>
                                        <a id="1001" onclick="Delete(this.id)">删除</a>
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" value="1001" name="news">
                                            </label>
                                        </div>
                                    </td>
                                    <td>0001</td>
                                    <td>国家鼓励高校应届毕业生应征入伍服义务兵役，这里的“高校毕业生”如何界定？</td>
                                    <td>XXX</td>
                                    <td>国防动员中心</td>
                                    <td>2016-8-26 14:20</td>
                                    <td>30</td>
                                    <td>
                                        <a id="1001" onclick="Delete(this.id)">删除</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </form>

                    <center>
                        <ul class="pagination">
                            <li><a href="">&laquo;</a></li>
                            <li><a href="">1</a></li>
                            <li><a href="">2</a></li>
                            <li><a href="">3</a></li>
                            <li><a href="">4</a></li>
                            <li><a href="">5</a></li>
                            <li><a href="">&raquo;</a></li>
                        </ul>
                    </center>

                </div>
                <!---------------------- 留言表模块---------------------->
                <div class="tab-pane fade" id="tab2">
                    <form class="search_form">
                        <table>
                            <tr>
                                <td>
                                    <input type="button" class="btn btn-primary" value="搜索" id="message_search" name="search" />
                                </td>
                                <td>
                                    <div class="form-group" style="margin: 0;">
                                        <input class="form-control" name="s_text">
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group" style="margin: 0;">
                                        <select class="form-control" name="s_type">
                                            <option value="by_id">按ID</option>
                                            <option value="by_name">按标题</option>
                                        </select>
                                    </div>
                                </td>
                                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>

                                <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                <td>
                                    <input type="button" class="btn btn-primary" value="删除所选" id="message_delete_selected" name="delete_selected" />
                                </td>
                                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                <td>
                                    <input type="button" class="btn btn-primary" value="全选" id="message_select_all" name="select_all" />
                                </td>
                                <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                <td>
                                    <input type="button" class="btn btn-primary" value="反选" id="message_reverse_select" name="reverse_select" />
                                </td>
                                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                <td>
                                    <input type="button" class="btn btn-primary" value="刷新" id="message_refresh" name="refresh" onclick="Refresh(this.id)" />
                                </td>
                            </tr>
                        </table>
                    </form>

                    <form id="message_model">
                        <table data-toggle="table">
                            <thead>
                                <tr>
                                    <th>选择</th>
                                    <th>ID</th>
                                    <th>姓名</th>
                                    <th>邮箱</th>
                                    <th>标题</th>
                                    <th>内容</th>
                                    <th>时间</th>
                                    <th>状态</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" value="2001" name="news">
                                            </label>
                                        </div>
                                    </td>
                                    <td>0001</td>
                                    <td>君东科技</td>
                                    <td>xxx@qq.com</td>
                                    <td>征兵入伍</td>
                                    <td>征兵入伍需要什么资料？</td>
                                    <td>2016-8-31 10:30</td>
                                    <td>未回复</td>
                                    <td>
                                        <a id="2001" onclick="replay(this.id)">回复</a>
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" value="2001" name="news">
                                            </label>
                                        </div>
                                    </td>
                                    <td>0001</td>
                                    <td>君东科技</td>
                                    <td>xxx@qq.com</td>
                                    <td>征兵入伍</td>
                                    <td>征兵入伍需要什么资料？</td>
                                    <td>2016-8-31 10:30</td>
                                    <td>已回复</td>
                                    <td>
                                        <a id="2001" onclick="replay(this.id)">回复</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </form>

                    <center>
                        <ul class="pagination">
                            <li><a href="">&laquo;</a></li>
                            <li><a href="">1</a></li>
                            <li><a href="">2</a></li>
                            <li><a href="">3</a></li>
                            <li><a href="">4</a></li>
                            <li><a href="">5</a></li>
                            <li><a href="">&raquo;</a></li>
                        </ul>
                    </center>
                </div>

            </div>
        </div>
    </div>
</div>
<!--/.panel-->

<!-- 回复窗口 -->
<div class="modal fade" id="replay" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    ×
                </button>
                <h4 class="modal-title" id="addLinkLabel">回复留言
                </h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form" id="messageForm">
                    <div class="form-group">
                        <label for="firstname" class="col-sm-2 control-label">标题</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="messageTitle" id="messageTitle">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="lastname" class="col-sm-2 control-label">回复内容</label>
                        <div class="col-md-9">
                            <textarea class="form-control" id="message" name="text" placeholder="回复内容" rows="5"></textarea>
                        </div>
                    </div>
                    <input type="hidden" name="messageid" id="messageid" />
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    关闭
                </button>
                <button type="button" class="btn btn-primary" id="btn_replay">
                    回复
                </button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->


</div>

<script>

    //跳转发布页面
    function publish_news() {
        window.location.href = "@Url.Content("~/PolicyManage/PublishNewsPage")";
    }

    function replay(id) {
        jQuery("#messageTitle").val("征兵入伍");
        jQuery("#messageid").val(id);
        jQuery("#replay").modal('show');
    }

    //回复留言
    jQuery("#btn_replay").click(function () {
        var title = jQuery("#messageTitle").val();
        var message = jQuery("#message").val();
        if (title.length <= 0 || message.length <= 0) {
            alert("请填入完整的信息");
            return;
        }

        jQuery.ajax({
            url: "@Url.Content("~/PolicyManage/ReplayMessage")",
            dataType: "text",
            type: "POST",
            data: jQuery("#messageForm").serialize(),
            success: function (data) {
                alert(data);
                jQuery("#replay").modal('hide');
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                alert(XMLHttpRequest.responseText);
            }
        });
    });

    //全选
    jQuery("input[name='select_all']").click(function () {
        var model_id;
        switch (this.id) {
            case 'cjwt_select_all': model_id = "#cjwt_model"; break;
            case 'message_select_all': model_id = "#message_model"; break;
        }

        var checkboxes = jQuery(model_id + " :input");
        for (var i = 0; i < checkboxes.length; i++) {
            checkboxes[i].checked = true;
        }
    });

    //反选
    jQuery("input[name='reverse_select']").click(function () {
        var model_id;
        switch (this.id) {
            case 'cjwt_reverse_select': model_id = "#cjwt_model"; break;
            case 'message_reverse_select': model_id = "#message_model"; break;
        }
        var checkboxes = jQuery(model_id + " :input");
        for (var i = 0; i < checkboxes.length; i++) {
            if (checkboxes[i].checked) {
                checkboxes[i].checked = false;
            } else {
                checkboxes[i].checked = true;
            }
        }
    });

    //刷新
    function Refresh(id) {
        jQuery.ajax({
            url: "@Url.Content("~/PolicyManage/Refresh")",
            dataType: "text",
            type: "Post",
            data: { "id": id },
            success: function (data) {
                alert(data);
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                alert(XMLHttpRequest.responseText);
            }
        });
    }

    //删除
    function Delete(newsId) {
        jQuery.ajax({
            url: "@Url.Content("~/PolicyManage/Delete")",
            dataType: "text",
            type: "POST",
            data: "newsId=" + newsId,
            success: function (data) {
                alert(data);
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                alert(XMLHttpRequest.responseText);
            }
        });
    }

    //批量删除
    jQuery("input[name='delete_selected']").click(function () {
        var model_id;
        switch (this.id) {
            case 'cjwt_delete_selected': model_id = "#cjwt_model"; break;
            case 'message_delete_selected': model_id = "#message_model"; break;
        }

        var n = jQuery(model_id + " :input[type='checkbox']:checked").length;
        if (n == 0) {
            alert("请至少选择一条");
        }
        else {
            var data = jQuery(model_id).serialize();
            jQuery.ajax({
                url: "@Url.Content("~/PolicyManage/DeleteMore")",
                dataType: "text",
                type: "POST",
                data: data,
                success: function (data) {
                    alert(data);
                    refresh();
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert(XMLHttpRequest.responseText);
                }
            });
        }
    });

        //搜索
        jQuery("input[name='search']").click(function () {
            var id = this.id;
            var model;
            if (id == "cjwt_search") {
                model = "#tab1";
            }
            if (id == "message_search") {
                model = "#tab1";
            }
            var s_type = jQuery(model+"input[name='s_type']").val();
            var s_text = jQuery(model + "input[name='s_text']").val();

            if (s_text.length <= 0) {
                alert("请输入查询条件");
                return;
            }
            jQuery.ajax({
                url: "@Url.Content("~/PolicyManage/Search")",
                data:{
                    "model": id,
                    "s_type=": s_type,
                    "s_text": s_text
                },
                type: "POST",
                dataType: "text",
                success: function (data) {
                    alert(data);
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert(XMLHttpRequest.responseText);
                }
            });
    });
</script>
