@{
    ViewBag.Title = "Index";
}

<!--这是基层工作页面-->
<link href="@Url.Content("~/content/pagecss/GrassrootWork/grassrootWork.css")" rel="stylesheet" type="text/css" media="all" />

<div class="grassrootwork">
    <div id="templatemo_content">
        <div id="templatemo_content_left">
            <div class="tempaltemo_content_left_section_01">
                <div class="section_01_two_col">
                    <img src="@Url.Content("~/GrassrootImage/templatemo_image_01.png")" alt="templatemo" width="100%"/>
                </div>
                <div class="section_01_two_col">
                    <div class="section_01_box">
                        <img src="@Url.Content("~/GrassrootImage/templatemo_image.jpg")" alt="templatemo" />
                        <a class="section_01_box_title" href="#">基层工作要闻</a>
                        <br />
                        基层工作要闻基层工作要闻基层工作要闻基层工作要闻基层工作要闻基层工作要闻基层工作要闻基层工作要闻

                    </div>

                    <div class="section_01_box">
                        <img src="@Url.Content("~/GrassrootImage/templatemo_image.jpg")" alt="templatemo" />
                        <a class="section_01_box_title" href="#">基层工作要闻</a>
                        <br />
                        基层工作要闻基层工作要闻基层工作要闻基层工作要闻基层工作要闻基层工作要闻基层工作要闻基层工作要闻
                    </div>

                    <div class="section_01_box">
                        <img src="@Url.Content("~/GrassrootImage/templatemo_image.jpg")" alt="templatemo" />
                        <a class="section_01_box_title" href="#">基层工作要闻</a>
                        <br />
                        基层工作要闻基层工作要闻基层工作要闻基层工作要闻基层工作要闻基层工作要闻基层工作要闻基层工作要闻

                    </div>
                </div>
                <div class="cleaner">&nbsp;</div>
            </div>
            <!-- end of content left section 01 -->

            <div class="cleaner_with_height">&nbsp;</div>

            <div class="tempaltemo_content_left_section_02">
                <div class="section_02_box">
                    <h3>城北区</h3>
                    <div class="section_02_box_content">
                        <a href="#">
                            <img src="@Url.Content("~/GrassrootImage/templatemo_image.jpg")" alt="image" /></a>
                        <a class="section_02_box_content_title" href="#">城北区基层工作</a><br />
                        <a href="#">城北区基层工作城北区基层工作城北区基层工作城北区基层工作城北区基层工作城北区基层工作城北区基层工作城北区基层工作 </a>
                        <ul>
                            <li>
                                <a>城北区基层工作城北区基层工作城北区基层工作
                                </a>
                            </li>
                            <li>
                                <a>城北区基层工作城北区基层工作城北区基层工作
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="more">
                        <a href="@Url.Content("~/GrassrootWork/GrassrootList")">更多>></a>
                    </div>
                </div>
                <div class="section_02_box">
                    <h3>城中区</h3>
                    <div class="section_02_box_content">
                        <a href="#">
                            <img src="@Url.Content("~/GrassrootImage/templatemo_image.jpg")" alt="image" /></a>
                        <a class="section_02_box_content_title" href="#">城中区基层工作</a><br />
                        <a href="#">城中区基层工作城中区基层工作城中区基层工作城中区基层工作城中区基层工作城中区基层工作</a>
                        <ul>
                            <li>
                                <a>城中区基层工作城中区基层工作城中区基层工作
                                </a>
                            </li>
                            <li>
                                <a>城中区基层工作城中区基层工作城中区基层工作
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="more">
                        <a href="@Url.Content("~/GrassrootWork/GrassrootList")">更多>></a>
                    </div>
                </div>
            </div>
            <!-- end of content leeft section 01 -->

            <div class="cleaner_with_height">&nbsp;</div>

            <div class="tempaltemo_content_left_section_02">
                <div class="section_02_box">
                    <h3>城西区</h3>
                    <div class="section_02_box_content">
                        <a href="#">
                            <img src="@Url.Content("~/GrassrootImage/templatemo_image.jpg")" alt="image" /></a>
                        <a class="section_02_box_content_title" href="#">城西区基层工作</a><br />
                        <a href="#">城西区基层工作城西区基层工作城西区基层工作城西区基层工作城西区基层工作城西区基层工作城西区基层工作城西区基层工作</a>
                        <ul>
                            <li>
                                <a>城西区基层工作城西区基层工作城西区基层工作</a>
                            </li>
                            <li>
                                <a>城西区基层工作城西区基层工作城西区基层工作</a>
                            </li>
                        </ul>
                    </div>
                    <div class="more">
                        <a href="@Url.Content("~/GrassrootWork/GrassrootList")">更多>></a>
                    </div>
                </div>
                <div class="section_02_box">
                    <h3>城东区</h3>
                    <div class="section_02_box_content">
                        <a href="#">
                            <img src="@Url.Content("~/GrassrootImage/templatemo_image.jpg")" alt="image" /></a>
                        <a class="section_02_box_content_title" href="#">城东区基层工作</a><br />
                        <a href="#">城东区基层工作城东区基层工作城东区基层工作城东区基层工作城东区基层工作城东区基层工作城东区基层工作城东区基层工作</a>
                        <ul>
                            <li><a>城东区基层工作城东区基层工作城东区基层工作</a></li>
                            <li><a>城东区基层工作城东区基层工作城东区基层工作</a></li>
                        </ul>
                    </div>
                    <div class="more">
                        <a href="@Url.Content("~/GrassrootWork/GrassrootList")">更多>></a>
                    </div>
                </div>

                <div class="cleaner_with_height">&nbsp;</div>

                <div class="tempaltemo_content_left_section_02">

                    <div class="section_02_box">
                        <h3>大通县</h3>
                        <div class="section_02_box_content">
                            <a href="#">
                                <img src="@Url.Content("~/GrassrootImage/templatemo_image.jpg")" alt="image" /></a>
                            <a class="section_02_box_content_title" href="#">大通县基层工作</a><br />
                            <a href="#">大通县基层工作大通县基层工作大通县基层工作大通县基层工作大通县基层工作大通县基层工作大通县基层工作大通县基层工作</a>
                            <ul>
                                <li><a>大通县基层工作大通县基层工作大通县基层工作</a></li>
                                <li><a>大通县基层工作大通县基层工作大通县基层工作</a></li>
                            </ul>
                        </div>
                        <div class="more">
                            <a href="@Url.Content("~/GrassrootWork/GrassrootList")">更多>></a>
                        </div>
                    </div>

                    <div class="section_02_box">
                        <h3>湟源县</h3>
                        <div class="section_02_box_content">
                            <a href="#">
                                <img src="@Url.Content("~/GrassrootImage/templatemo_image.jpg")" alt="image" /></a>
                            <a class="section_02_box_content_title" href="#">湟源县基层工作</a><br />
                            <a href="#">湟源县基层工作湟源县基层工作湟源县基层工作湟源县基层工作湟源县基层工作湟源县基层工作湟源县基层工作湟源县基层工作</a>
                            <ul>
                                <li><a>湟源县基层工作湟源县基层工作湟源县基层工作</a></li>
                                <li><a>湟源县基层工作湟源县基层工作湟源县基层工作</a></li>
                            </ul>
                        </div>
                        <div class="more">
                            <a href="@Url.Content("~/GrassrootWork/GrassrootList")">更多>></a>
                        </div>
                    </div>
                </div>

                <div class="cleaner_with_height">&nbsp;</div>
                <div class="tempaltemo_content_left_section_02">
                    <div class="section_02_box">
                        <h3>湟中县</h3>
                        <div class="section_02_box_content">
                            <a href="#">
                                <img src="@Url.Content("~/GrassrootImage/templatemo_image.jpg")" alt="image" /></a>
                            <a class="section_02_box_content_title" href="#">湟中县基层工作</a><br />
                            <a href="#">湟中县基层工作湟中县基层工作湟中县基层工作湟中县基层工作湟中县基层工作湟中县基层工作湟中县基层工作湟中县基层工作</a>
                            <ul>
                                <li><a>湟中县基层工作湟中县基层工作湟中县基层工作</a></li>
                                <li><a>湟中县基层工作湟中县基层工作湟中县基层工作</a></li>
                            </ul>
                        </div>
                        <div class="more">
                            <a href="@Url.Content("~/GrassrootWork/GrassrootList")">更多>></a>
                        </div>
                    </div>
                </div>

                <div class="cleaner_with_height">&nbsp;</div>
            </div>
            <div class="cleaner">&nbsp;</div>
        </div>
    </div>
</div>
