@{
    ViewBag.Title = "首页";
}


<div class="banner" style="margin-top:2px">
	<img src="@Url.Content("~/Image/参军2.jpg")"  height="50%" width="100%"/>
</div>


<!-- //banner -->
<!-- banner-bottom -->
<div class="new-bottom">
	<div class="container">
		<div class="bottom-grids">
			<div class="col-md-3 bottom-grid">
				<div class="bottom-left">
					<div class="new"></div>
				</div>
				<div class="bottom-right">
					<h3>对象范围</h3>
					<p style="text-align:justify">男兵征集对象以高中(含职高、中专、技校)毕业以上文化程度的青年为主，同等条件下，
                        优先征集高学历青年和应届毕业生入伍。征集的非农业户口青年应具备高中以上文化程度。</p>
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="col-md-3 bottom-grid">
				<div class="bottom-left">
					<div class="fresh"></div>
				</div>
				<div class="bottom-right">
					<h3>年龄条件</h3>
					<p style="text-align:justify">男青年为2016年年满18至22周岁，普通高等学校毕业生可以放宽至24周岁，初中文化程
                        度男青年不超过20周岁。女青年为2016年年满18至22周岁。可征集年满17周岁的高中毕业生入伍。</p>
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="col-md-3 bottom-grid">
				<div class="bottom-left">
					<div class="strong"></div>
				</div>
				<div class="bottom-right">
					<h3>政治条件</h3>
					<p>征集服现役的公民必须热爱中国共产党，热爱社会主义祖国，热爱人民军队，遵纪守法，品德优良，决心为抵抗侵略、
                         保卫祖国、保卫人民的和平劳动而英勇奋斗。</p>
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="col-md-3 bottom-grid">
				<div class="bottom-left">
					<div class="great"></div>
				</div>
				<div class="bottom-right">
					<h3>身体条件</h3>
					<p>其中：身高，男青年不低于160cm，女青年不低于158cm，条件兵另行规定。体重，标准体重kg =（身高cm-110），男
                        青年不超过标准体重的30%，不低于标准体重的15%；</p>
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</div>

<!-- //banner-bottom -->
<!-- about -->
<div id="about" class="about">
	<div class="container">
		<div class="about-header">
			<h2>新闻聚焦</h2>
			<div class="clearfix"></div>
		</div>
		<div class="about-grids">
			<div class="col-md-6 about-grid">
				<h3>国际新闻</h3>
				<p>新华社大马士革８月１５日电（记者车宏亮）叙利亚副总理兼国防部长弗拉杰中将１４日下午在大马士革会见了正在叙访问的中央
                    军委国际军事合作办公室主任关友飞海军少将。弗拉杰说，中国有数千年历史和文明。自１９７８年以来，中国政府带领人民艰苦
                    奋斗，在科学技术、军事等领域取得令世人瞩目的成绩。叙中友谊源远流长，双方在国际问题上保持了密切协调。叙方支持中方在
                    南海问题上的立场，对中国政府和军队给予叙方的帮助表示感谢。叙方愿与中方一道，推动两军关系不断向前发展。</p>
			</div>
			<div class="col-md-6 about-grid list">
				<h3>国内新闻</h3>
				<p>从2015年起，国家对直接招收为士官的高等学校学生施行国家资助，入伍时对其在校期间缴纳的学费实行一次性补偿或获得的国
                    家助学贷款(包括校园地国家助学贷款和生源地信用助学贷款，下同)实行代偿。学费补偿或国家助学贷款代偿金额，按学生实际
                    缴纳的学费或获得的国家助学贷款(包括本金及其全部偿还之前产生的利息，下同)两者金额较高者执行，据实补偿或者代偿，但
                    本专科学生每人每年最高不超过8000元、研究生每人每年最高不超过12000元。</p>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</div>
<!-- //about -->


<!-- about -->
<div id="about1" class="about">
	<div class="container">
		<div class="about-header">
			<h2>媒体印象</h2>
			<div class="clearfix"></div>
		</div>
		<div class="about-grids">
			<div class="col-md-6 about-grid">
				<h3>解放军报</h3>
				<p>新华社北京8月15日电 外交部发言人陆慷15日宣布：二十国集团领导人第十一次峰会将于9月4日至5日在浙江杭州举行。峰会主题
                    为“构建创新、活力、联动、包容的世界经济”。二十国集团成员和嘉宾国领导人及有关国际组织负责人将应邀与会。中国国家
                    主席习近平将出席并主持会议，并出席金砖国家领导人非正式会晤等有关活动。</p>
			</div>
			<div class="col-md-6 about-grid list">
				<h3>中国兵法</h3>
				<p>在西安正北60公里处，有一片红色土壤。83年前，刘志丹、谢子长、习仲勋、李妙斋等老一辈无产阶级革命家在这里创立了陕甘
                    边照金革命根据地。今天，面对改革强军的大潮，陕西省铜川市耀州区人武部扎根这片红色沃土，积极谋事创业，用实际行动
                    有力回答了军地关系靠什么维系、干部职工作风形象如何树立、专武干部队伍怎么抓建等一系列问题。</p>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</div>
<!-- //about -->

<!-- team -->
<div id="team" class="team">
	<div class="container">
		<div class="team-header">
			<h2>军营生活</h2>
		</div>
			<div class="work-bottom">
				<ul id="flexiselDemo1">			
					<li>
						<div class="team-grid">
							<img src="@Url.Content("~/Image/slider1.png")" alt=""/>
							<h3>Stojan Petrov</h3>
							<p>Manager</p>
						</div>
					</li>
					<li>
						<div class="team-grid">
							<img src="@Url.Content("~/Image/slider2.png")" alt=""/>
							<h3>Ivelina Peeva</h3>
							<p>Client relations</p>
						</div>
					</li>
					<li>
						<div class="team-grid">
							<img src="@Url.Content("~/Image/slider3.png")" alt=""/>
							<h3>George Stoychev</h3>
							<p>Sales</p>
						</div>
					</li>
					<li>
						<div class="team-grid">
							<img src="@Url.Content("~/Image/slider4.png")" alt=""/>
							<h3>Milena Ivanova</h3>
							<p>Office manager</p>
						</div>
					</li>
				</ul>
            		<script type="text/javascript">
							$(window).load(function() {
								$("#flexiselDemo1").flexisel({
									visibleItems: 4,
									animationSpeed: 1000,
									autoPlay: true,
									autoPlaySpeed: 3000,    		
									pauseOnHover: true,
									enableResponsiveBreakpoints: true,
									responsiveBreakpoints: { 
										portrait: { 
											changePoint:480,
											visibleItems: 1
										}, 
										landscape: { 
											changePoint:640,
											visibleItems: 2
										},
										tablet: { 
											changePoint:768,
											visibleItems: 3
										}
									}
								});
								
							});
					</script>
					<script type="text/javascript" src="@Url.Content("~/Scripts/jquery.flexisel.js")"></script>
                	<script type="text/javascript" src="@Url.Content("~/Scripts/jquery-1.9.1.min.js")"></script>
			</div>	
	</div>
</div>
<!-- //team -->