@{
    ViewBag.Title = "影音天地";
    Layout = "~/Views/Shared/_backLayout.cshtml";
}


<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
    <div class="row">
        <ol class="breadcrumb">
            <li class="active">影音天地</li>
        </ol>
    </div>

    <form class="search_form">
        <table>
            <tr>
                <td>
                    <input type="button" class="btn btn-primary" value="搜索" id="search" />
                </td>
                <td>
                    <div class="form-group" style="margin: 0;">
                        <input class="form-control" id="s_text">
                    </div>
                </td>
                <td>
                    <div class="form-group" style="margin: 0;">
                        <select class="form-control" id="s_type">
                            <option value="by_name">按名称</option>
                            <option value="by_classify">按分类</option>
                        </select>
                    </div>
                </td>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                <td>
                    <input type="button" class="btn btn-primary" value="上传" data-toggle="modal" data-target="#addVideo" />
                </td>

                <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                <td>
                    <input type="button" class="btn btn-primary" value="删除所选" id="delete_selected" />
                </td>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                <td>
                    <input type="button" class="btn btn-primary" value="全选" id="select_all" />
                </td>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                <td>
                    <input type="button" class="btn btn-primary" value="反选" id="reverse_select" />
                </td>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                <td>
                    <input type="button" class="btn btn-primary" value="刷新" id="refresh" onclick="Refresh()" />
                </td>
            </tr>
        </table>
    </form>
    <form id="selectedForm">
        <table data-toggle="table">
            <thead>
                <tr>
                    <th>选择</th>
                    <th>视频名称</th>
                    <th>分类</th>
                    <th>格式</th>
                    <th>大小</th>
                    <th>上传时间</th>
                    <th>播放次数</th>
                    <th>操作</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" value="1001" name="video">
                            </label>
                        </div>
                    </td>
                    <td>征兵宣传片</td>
                    <td>征兵宣传</td>
                    <td>mp4</td>
                    <td>200MB</td>
                    <td>2016-8-26 14:22</td>
                    <td>20</td>
                    <td>
                        <a id="1001" onclick="Delete(this.id)">删除</a>
                    </td>
                </tr>

                <tr>
                    <td>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" value="1002" name="video">
                            </label>
                        </div>
                    </td>
                    <td>国防宣传片</td>
                    <td>国防教育</td>
                    <td>mp4</td>
                    <td>200MB</td>
                    <td>2016-8-26 14:22</td>
                    <td>20</td>
                    <td>
                        <a id="1001" onclick="Delete(this.id)">删除</a>
                    </td>
                </tr>

            </tbody>
        </table>
    </form>

    <center>
        <ul class="pagination">
                <li><a href="">&laquo;</a></li>
                <li><a href="">1</a></li>
                <li><a href="">2</a></li>
                <li><a href="">3</a></li>
                <li><a href="">4</a></li>
                <li><a href="">5</a></li>
                <li><a href="">&raquo;</a></li>
            </ul>
    </center>


    <!-- 上传视频窗口 -->
    <div class="modal fade" id="addVideo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        ×
                    </button>
                    <h4 class="modal-title" id="addLinkLabel">上传视频
                    </h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" role="form" id="videoInfo">
                        <div class="form-group">
                            <label for="firstname" class="col-sm-2 control-label">视频名称</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="VideoName" id="videoName">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="lastname" class="col-sm-2 control-label">视频类别</label>
                            <div class="col-md-6">
                                <select class="form-control" name="classify">
                                    <option value="v_zbxc">征兵宣传</option>
                                    <option value="v_gfjy">国防教育</option>
                                    <option value="v_yjys">拥军优属</option>
                                    <option value="v_dyyl">动员演练</option>
                                </select>
                            </div>
                        </div>
                        <table>
                            <tr>
                                <td>
                                    <input type="button" class="btn btn-primary" value="选择文件" id="chooseVideo" />
                                </td>
                                <td width="20px"></td>
                                <td>
                                    <input type="text" class="form-control" id="videoUrl" name="videoUrl">
                                </td>
                            </tr>
                        </table>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        关闭
                    </button>
                    <button type="button" class="btn btn-primary" id="ok_video">
                        确定
                    </button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

</div>

<script>
    //全选
    jQuery("#select_all").click(function () {
        var checkboxes = jQuery("input[type='checkbox']");
        for (var i = 0; i < checkboxes.length; i++) {
            checkboxes[i].checked = true;
        }
    });

    ////反选
    jQuery("#reverse_select").click(function () {
        var checkboxes = jQuery("input[type='checkbox']");
        for (var i = 0; i < checkboxes.length; i++) {
            if (checkboxes[i].checked) {
                checkboxes[i].checked = false;
            } else {
                checkboxes[i].checked = true;
            }
        }
    });

    //刷新
    function Refresh() {
        jQuery.ajax({
            url: "@Url.Content("~/VideoManage/Refresh")",
            dataType: "text",
            type: "GET",
            success: function (data) {
                alert(data);
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                alert(XMLHttpRequest.responseText);
            }
        });
    }

    //删除
    function Delete(video_id) {
        jQuery.ajax({
            url: "@Url.Content("~/VideoManage/Delete")",
            dataType: "text",
            type: "POST",
            data: "video_id=" + video_id,
            success: function (data) {
                alert(data);
                refresh();
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                alert(XMLHttpRequest.responseText);
            }
        });
    }

    //批量删除
    jQuery("#delete_selected").click(function () {
        var n = jQuery("input[type='checkbox']:checked").length;
        if (n == 0) {
            alert("请至少选择一条");
        }
        else {
            var data = jQuery("#selectedForm").serialize();
            jQuery.ajax({
                url: "@Url.Content("~/VideoManage/DeleteMore")",
                dataType: "text",
                type: "POST",
                data: data,
                success: function (data) {
                    alert(data);
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert(XMLHttpRequest.responseText);
                }
            });
            }
    });

        $(function () { $('#addVideo').modal('hide') });


        //上传视频
        KindEditor.ready(function (K) {
            var editor = K.editor({
                uploadJson: '@Url.Content("~/editor/upload_json.ashx")',
                fileManagerJson: '@Url.Content("~/editor/file_manager_json.ashx")',
                allowFileManager: true
            });
            jQuery("#chooseVideo").click(function () {
                editor.loadPlugin('insertfile', function () {
                    editor.plugin.fileDialog({
                        fileUrl: jQuery('#videoUrl').val(),
                        clickFn: function (url, title) {
                            jQuery('#videoUrl').val(url);
                            editor.hideDialog();
                        }
                    });
                });
            });
        });

        jQuery("#ok_video").click(function () {
            var v_name = jQuery("#videoName").val();
            var v_url = jQuery("#videoUrl").val();
            if (v_name.length <= 0) {
                alert("请输入视频名称");
                return;
            }
            if (v_url.length <= 0) {
                alert("请上传视频");
                return;
            }
            jQuery.ajax({
                url: "@Url.Content("~/VideoManage/UploadVideo")",
            data: jQuery("#videoInfo").serialize(),
            type: "POST",
            dataType: "text",
            success: function (data) {
                jQuery('#addVideo').modal('hide');
                alert(data);
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                alert(XMLHttpRequest.responseText);
            }
        });
    });

    //搜索视频
    jQuery("#search").click(function () {
        var s_type = jQuery("#s_type").val();
        var s_text = jQuery("#s_type").val();

        if (jQuery("#s_text").val().length <= 0) {
            alert("请输入搜索条件");
            return;
        }
        jQuery.ajax({
            url: "@Url.Content("~/VideoManage/Search")",
            data: "s_type=" + s_type + "&s_text=" + s_text,
            type: "POST",
            dataType: "text",
            success: function (data) {
                alert(data);
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                alert(XMLHttpRequest.responseText);
            }
        });
    });
</script>



